Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

Change Process Hacker to System Informer
  docs/troubleshooting/common-issues/process-hacker.md
Labels: troubleshooting

Change process Hacker to System Informer
  docs/troubleshooting/common-issues/process-hacker.md
Labels: troubleshooting

Rename process-hacker.md to system-informer.md
  docs/troubleshooting/common-issues/system-informer.md
Labels: troubleshooting

Switch Process Hacker to System informer in mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

feat: :memo: Significant rework of FAQ & Troubleshooting page
  docs/assets/images/atlasdesktop-windows-folder.png
  docs/assets/images/bluetooth-script-folder.png
  docs/assets/images/discord-development-role.png
  docs/assets/images/printer-script-folder.png
  docs/faq-and-troubleshooting/atlas-and-security.md
  docs/faq-and-troubleshooting/atlas-folder-scripts.md
  docs/faq-and-troubleshooting/common-questions/adobe-acrobat.md
  docs/faq-and-troubleshooting/common-questions/ame-wizard-virus-detection.md
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/atlas-iso-files.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/faq-and-troubleshooting/removed-features.md
  docs/faq-and-troubleshooting/testing-nightly-builds.md
  docs/faq-and-troubleshooting/updating-atlas.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/faq.md
  docs/troubleshooting/common-issues/adobe/acrobat-fails-to-install.md
  docs/troubleshooting/common-issues/atlas-folder-missing.md
  mkdocs.yml
Labels: mkdocs-config, troubleshooting, home

fix: :memo: Remove quoations
  docs/getting-started/post-installation/drivers/index.md
Labels: getting-started

feat: :sparkles: Add driver install choice information
  includes/abbreviations.md
Labels: none

fix: :fire: Remove FAQ from mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

fix: :bug: Add %SystemDrive% for accuracy
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
Labels: none

fix: :memo: Fix Bluetooth consistency
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
Labels: none

feat: :memo: Update configurations in line with v0.3.0
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

fix: :bug: Fix grammar
  docs/contributions.md
Labels: home

fix: invalid link
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
Labels: none

Update reverting-atlas.md
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
Labels: none

fix: :bug: Fix duplicate Hibernation entries
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

feat: :art: Reformat configurations
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: jampack for optimization
  .gitignore
  jampack.config.mjs
  mkdocs.insiders.yml
  package.json
  pnpm-lock.yaml
Labels: github, mkdocs-config

feat: jampack optimization
  .gitignore
  jampack.config.mjs
  package.json
  pnpm-lock.yaml
Labels: github

fix: :bug: Fix %SystemDrive% inconsistency
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
Labels: none

fix: :bug: General fixes
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/faq-and-troubleshooting/removed-features.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/getting-started/post-installation/drivers/others.md
  docs/index.md
  mkdocs.yml
Labels: mkdocs-config, getting-started, home

fix: :sparkles: General improvements
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

docs: :memo: Write optional tweaks
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
Labels: getting-started

fix: :memo: Fix links and re-work landing panels
  docs/index.md
Labels: home

fix: :memo: Re-write to improve clarity
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

fix: :bug: Fix link
  docs/index.md
Labels: home

feat: :memo: Write Power Saving section
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

style: :lipstick: Change icon
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

Updated Advanced Configuration
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
Labels: getting-started

feat: :memo: Finish advanced configuration section
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
Labels: getting-started

fix: :bug: Fix many links and overall improvements
  README.md
  docs/contributions.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
Labels: readme, getting-started, home

feat: adding more software types
  docs/getting-started/post-installation/software/media.md
  docs/getting-started/post-installation/software/screenshotting.md
  docs/getting-started/post-installation/software/system-info.md
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

feat: update mkdocs.yml to include software changes
  mkdocs.yml
Labels: mkdocs-config

fix: :pencil2: Typo
  mkdocs.yml
Labels: mkdocs-config

style: :art: Formatting change
  .github/CONTRIBUTING.md
Labels: github

feat: adding links to ms store apps
  docs/getting-started/post-installation/software/media.md
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

fix: :memo: Improve clarity and re-write sections
  docs/getting-started/post-installation/software/media-playback.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: :memo: Rewrite software page for clarity
  docs/getting-started/post-installation/software/index.md
Labels: getting-started

refactor: :fire:
  docs/getting-started/post-installation/software/media.md
Labels: getting-started

fix: :memo: Re-write screenshotting section
  docs/getting-started/post-installation/software/screenshotting.md
Labels: getting-started

fix: :memo: Re-write systems information page
  docs/getting-started/post-installation/software/system-info.md
Labels: getting-started

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
