Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

Update custom.html
  overrides/partials/integrations/analytics/custom.html
Labels: none

fix: :mag: fix Umami integration
  mkdocs.insiders.yml
  overrides/partials/integrations/analytics/custom.html
Labels: mkdocs-config

fix: :pencil2: *
  mkdocs.insiders.yml
Labels: mkdocs-config

Update mkdocs.insiders.yml
  mkdocs.insiders.yml
Labels: mkdocs-config

refactor :sparkles: remove oculus documentation
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

feat: :art: valid Open-Shell filenames
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

Update advanced-configuration.md (#78)
  docs/getting-started/post-installation/configuration/advanced-configuration.md
Labels: getting-started

feat: remove 'MVS Collection' source
  docs/getting-started/installation.md
Labels: getting-started

fix: replace tab with spaces
  docs/getting-started/installation.md
Labels: getting-started

docs: update 'Process Hacker' page
  docs/troubleshooting/common-issues/process-hacker.md
Labels: troubleshooting

fix: auto PR, main to master in git log
  .github/workflows/dev-branch-merge.yaml
Labels: actions

feat: add the ability to manually run auto PR
  .github/workflows/dev-branch-merge.yaml
Labels: actions

refactor: refactor the 'no-usb' documentation MD file
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

[ typo fix ] no-usb.md
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

Update no-usb.md
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

Delete iwwu.png
  docs/assets/images/iwwu.png
Labels: none

Delete docs/assets/videos directory
  docs/assets/videos/adding-partition.gif
  docs/assets/videos/resize.gif
Labels: none

refactor: refactor the 'no-usb' documentation MD file (#86)
  docs/assets/images/iwwu.png
  docs/assets/videos/adding-partition.gif
  docs/assets/videos/resize.gif
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

docs: Delete google drive in no-usb.md
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

refactor: new no USB installation guide as main guide
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/other-installation-methods/usb.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: add dual boot notice
  docs/getting-started/installation.md
Labels: getting-started

New installation guide (#89)
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/other-installation-methods/usb.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

docs: change install video link
  docs/getting-started/installation.md
Labels: getting-started

initial
  mkdocs.insiders.yml
Labels: mkdocs-config

docs: :ambulance: revert error commit
  mkdocs.insiders.yml
Labels: mkdocs-config

docs: simplify architecture & make temp partition cleaner
  docs/getting-started/installation.md
Labels: getting-started

docs: remove 'Troubleshooting' section in installation
  docs/getting-started/installation.md
Labels: getting-started

docs: simplify video not working in USB docs
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

Docs: Change video link to JSDelivr for better experince
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

feat: :arrow_up: add back social cards and update
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

fix: 🚨 build error
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

Fixed the "Post Installtion" link (no-usb.md) (#77)
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

docs: Delete google drive in no-usb.md
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

refactor: refactor the 'no-usb' documentation MD file (#86)
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

New installation guide (#89)
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

Docs: Change video link to JSDelivr for better experince
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

docs: Delete google drive in no-usb.md
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

fix: 🚨 build error
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

New installation guide (#89)
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

Docs: Change video link to JSDelivr for better experince
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
