Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

Fixed the "Post Installtion" link (no-usb.md) (#77)
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

feat: :arrow_up: add back social cards and update
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

refactor: refactor the 'no-usb' documentation MD file (#86)
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

Revert "fix: 🚨 build error"
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

Revert "Revert "fix: 🚨 build error""
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

fix(social): restructure config + work on social cards
  mkdocs.insiders.yml
  mkdocs.yml
  requirements.txt
Labels: mkdocs-config

revert(optimize): revert enabling optimize
  mkdocs.insiders.yml
Labels: mkdocs-config

feat: add MSDL as the recommended method
  docs/getting-started/installation.md
Labels: getting-started

chore: fix whitespace in MSDL steps
  docs/getting-started/installation.md
Labels: getting-started

fix: add 'Confirm' step to MSDL
  docs/getting-started/installation.md
Labels: getting-started

feat: add general Auto Cleaner issues to troubleshooting
  docs/troubleshooting/common-issues/auto-cleaner.md
  docs/troubleshooting/common-issues/csgo-vac-no-session-verified.md
  mkdocs.yml
Labels: mkdocs-config, troubleshooting

fix: syntax for icon in auto cleaner
  docs/troubleshooting/common-issues/auto-cleaner.md
Labels: troubleshooting

feat: add admin check to boot mode USB docs
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

fix: support PowerShell v1.0 & add vid for MBR/GPT
  docs/assets/videos/check-gpt-mbr.mp4
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

feat: add MCT USB method
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

feat: add general Auto Cleaner issues to troubleshooting
  docs/troubleshooting/common-issues/auto-cleaner.md
  docs/troubleshooting/common-issues/csgo-vac-no-session-verified.md
  mkdocs.yml
Labels: mkdocs-config, troubleshooting

feat: add MCT USB method
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

fix: add 'Confirm' step to MSDL
  docs/getting-started/installation.md
Labels: getting-started

fix(social): restructure config + work on social cards
  mkdocs.insiders.yml
  mkdocs.yml
  requirements.txt
Labels: mkdocs-config

fix: syntax for icon in auto cleaner
  docs/troubleshooting/common-issues/auto-cleaner.md
Labels: troubleshooting

revert(optimize): revert enabling optimize
  mkdocs.insiders.yml
Labels: mkdocs-config

fix: support PowerShell v1.0 & add vid for MBR/GPT
  docs/assets/videos/check-gpt-mbr.mp4
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

chore: fix whitespace in MSDL steps
  docs/getting-started/installation.md
Labels: getting-started

feat: add admin check to boot mode USB docs
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

feat: add MSDL as the recommended method
  docs/getting-started/installation.md
Labels: getting-started

fix: urgent fix for USB docs codeblocks
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

fix: add colon to 'Configure Partition scheme' for Rufus
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

feat: add more info about auto PR
  docs/contributions.md
Labels: home

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

feat: batch script to locally host
  locally-host.cmd
Labels: none

feat(troubleshooting): kprocesshacker fixed in v0.3
  docs/troubleshooting/common-issues/process-hacker.md
Labels: troubleshooting

feat: add Fix-Auto-Cleaner as a step & move to Atlas repo
  docs/getting-started/installation.md
  docs/troubleshooting/common-issues/auto-cleaner.md
Labels: getting-started, troubleshooting

chore(kprocesshacker): tab -> 4 spaces
  docs/troubleshooting/common-issues/process-hacker.md
Labels: troubleshooting

feat(troubleshooting): extended FAQ
  docs/troubleshooting/extended-faq.md
  mkdocs.yml
Labels: mkdocs-config, troubleshooting

Update nvidia.md
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
Labels: getting-started

feat: update information about the issue
  docs/getting-started/installation.md
  docs/troubleshooting/common-issues/auto-cleaner.md
  docs/troubleshooting/common-issues/process-hacker.md
  docs/troubleshooting/extended-faq.md
Labels: getting-started, troubleshooting

Update nvidia.md
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
Labels: getting-started

feat(configuration): initial 'Security' page & move mitigations
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/security/index.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(Security): Defender & Core Isolation
  docs/getting-started/post-installation/security/index.md
Labels: getting-started
