Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix: make all links relative
  docs/faq.md
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/usb.md
  docs/getting-started/post-installation/configuration/advanced-configuration.md
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
  docs/getting-started/post-installation/drivers/index.md
  docs/getting-started/post-installation/security/index.md
  docs/index.md
  docs/troubleshooting/removed-features.md
Labels: getting-started, troubleshooting, home

docs: remove outdated video from installation
  docs/getting-started/installation.md
Labels: getting-started

feat(iso-download): initial commit
  docs/getting-started/installation.md
  docs/javascripts/msdl.js
  docs/stylesheets/msdl.css
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(msdl.js): formatting
  docs/javascripts/msdl.js
Labels: none

fix(msdl.js): init variables on button click
  docs/javascripts/msdl.js
Labels: none

feat(iso-download): general improvements
  docs/getting-started/installation.md
  docs/stylesheets/msdl.css
Labels: getting-started

fix(iso-download): remove Windows 11
  docs/getting-started/installation.md
  docs/stylesheets/msdl.css
Labels: getting-started

feat(iso-download): Windows 10 -> Windows
  docs/getting-started/installation.md
Labels: getting-started

refactor: update build dependencies
  requirements.txt
Labels: none

fix: newer python version requirement
  runtime.txt
Labels: none

fix(msdl): select/dropdown for webkit/iOS
  docs/stylesheets/msdl.css
Labels: none

fix(installation): remove Windows 11
  docs/getting-started/installation.md
Labels: getting-started

fix(msdl.css): merge - uncomment width
  docs/stylesheets/msdl.css
Labels: none

fix(msdl.css): remove extra width value
  docs/stylesheets/msdl.css
Labels: none

fix(msdl.css): light mode + grey other methods
  docs/getting-started/installation.md
  docs/stylesheets/msdl.css
Labels: getting-started

docs: remove msdl link in extended-faq
  docs/troubleshooting/extended-faq.md
Labels: troubleshooting

Update analytical domain
  overrides/partials/integrations/analytics/custom.html
Labels: none

Update analytical domain for "Privacy" plugin
  mkdocs.insiders.yml
Labels: mkdocs-config

fix(iso-download): add MSDL credit
  docs/getting-started/installation.md
Labels: getting-started

fix: mkdocs warnings
  docs/getting-started/installation.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: general improvements
  docs/assets/images/device-manager-nic.png
  docs/assets/videos/win10-OOBE.mp4
  docs/faq.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/security/index.md
Labels: getting-started, home

fix: :memo: Rewritten a lot of content & general fixes
  docs/faq.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/drivers/index.md
  includes/abbreviations.md
Labels: getting-started, home

feat: general imporvements
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/usb.md
  includes/abbreviations.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: temporarily fix the building issue
  add-these-files-to-root-on-merge/.node-version
  add-these-files-to-root-on-merge/jampack.config.mjs
  add-these-files-to-root-on-merge/package.json
  add-these-files-to-root-on-merge/yarn.lock
Labels: none

Revert "fix: temporarily fix the building issue"
  .node-version
  jampack.config.mjs
  package.json
  yarn.lock
Labels: none

feat: :sparkles: Security Exceptions "AME Wizard closing and deleting"
  docs/getting-started/installation.md
Labels: getting-started

fix: build fix attempt (x2)
  .node-version
  jampack.config.mjs
  package.json
  yarn.lock
Labels: none

refactor(faq): remove kprocesshacker
  docs/faq.md
Labels: home

fix: update python
  runtime.txt
Labels: none

feat: update runtime to 3.12
  runtime.txt
Labels: none

Revert "fix: build fix attempt (x2)"
  .node-version
  jampack.config.mjs
  package.json
  yarn.lock
Labels: none

Revert "Revert "fix: build fix attempt (x2)""
  .node-version
  jampack.config.mjs
  package.json
  yarn.lock
Labels: none

fix(installation): remove subtitle
  docs/getting-started/installation.md
Labels: getting-started

Update index.md
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

Update Configuration and Security sections - Move existing content and delete obsolete.
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/security/index.md
Labels: getting-started

Rework Optional Tweaks
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/configuration/optional-tweaks.md
Labels: getting-started

Fix errors
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

feat: :sparkles: Add BitLocker section for installation
  docs/assets/images/bitlocker-decryption-progress.png
  docs/assets/images/bitlocker-error-decrypting.jpg
  docs/assets/images/bitlocker-error-setup.jpg
  docs/getting-started/installation.md
  docs/troubleshooting/decrypting-bitlocker.md
  mkdocs.yml
Labels: mkdocs-config, getting-started, troubleshooting

fix: :bug: Fix link for BitLocker
  docs/getting-started/installation.md
Labels: getting-started

fix: :bug: Fix paths
  docs/troubleshooting/decrypting-bitlocker.md
Labels: troubleshooting

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
