Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

fix: remove outdated info
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

fix: remove outdated info (#263)
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

fix: styling in ISO download section
  includes/msdl.md
Labels: none

fix: msdl download button styling
  docs/javascript/msdl.v1.js
Labels: none

Update msdl.md
  includes/msdl.md
Labels: none

Update msdl.md
  includes/msdl.md
Labels: none

Fix styling for buttons in ISO download section (#264)
  docs/javascript/msdl.v1.js
  includes/msdl.md
Labels: none

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

feat: atlas upgrading docs
  docs/getting-started/upgrading.md
Labels: getting-started

feat: atlas update docs
  mkdocs.yml
Labels: mkdocs-config

Update getting-started.md
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

fix: branding.md broken
  docs/branding.md
Labels: home

feat: branding remake, new copyright notice, typo fix
  docs/assets/brand/preview/icons/preview-icon-clouds.png
  docs/assets/brand/preview/wallpapers/generic/rev-1/preview-wallpaper-generic-rev1.0.png
  docs/assets/brand/preview/wallpapers/generic/rev-1/preview-wallpaper-generic-rev1.1.png
  docs/assets/brand/preview/wallpapers/generic/rev-1/preview-wallpaper-generic-rev1.2.png
  docs/assets/brand/preview/wallpapers/generic/rev-2/preview-wallpaper-generic-rev2.0.png
  docs/assets/brand/preview/wallpapers/generic/rev-3/preview-wallpaper-generic-rev3.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-v0.3-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-v0.3-rev1.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-v0.3-rev1.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-v0.3-rev2.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-v0.3-rev2.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-v0.3-rev3.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-v0.3-rev3.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-v0.3-rev3.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-v0.3-rev3.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-v0.3-rev4.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-v0.3-rev4.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-v0.3-rev4.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-v0.3-rev4.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-v0.3-rev4.4.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-v0.4-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-v0.4-rev1.1.png
  docs/branding.md
  docs/contributing/contribution-guidelines.md
  docs/javascript/msdl.v1.js
  includes/msdl.md
  locally-host.cmd
  mkdocs.yml
Labels: mkdocs-config, home

feat: add .gitattributes
  .gitattributes
Labels: github

Update installation guide with clearer ISO instructions
  docs/getting-started/installation.md
Labels: getting-started

Updated installation.md
  docs/getting-started/installation.md
Labels: getting-started

Updated installation.md
  docs/getting-started/installation.md
Labels: getting-started

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

docs: Updated installation instructions
  docs/getting-started/installation.md
Labels: getting-started

docs: fix typo
  docs/getting-started/installation.md
Labels: getting-started

fix: hide Windows 11 alternative download methods (#269)
  docs/getting-started/installation.md
Labels: getting-started

docs: fix hyperlink
  docs/general-faq/itunes-compatibility.md
  docs/getting-started/installation.md
Labels: getting-started

fix: build failed
  requirements.txt
Labels: none

Rename general-configuration.md to general-configuration.mb
  docs/getting-started/post-installation/atlas-folder/general-configuration.mb
Labels: getting-started

Update post-installation/drivers/getting-started.md (#266)
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

Update anti-virus.md with Kaspersky info
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started

Fix typo in Kaspersky mention in anti-virus.md
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started

feat(brand): add v0.5 wallpapers to branding.md
  docs/assets/brand/preview/wallpapers/v0.5/rev-1/dark/preview-wallpaper-v0.5-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.5/rev-1/light/preview-wallpaper-v0.5-rev1.0.png
  docs/branding.md
Labels: home

feat(brand): correct paths
  docs/assets/brand/preview/wallpapers/v0.5/rev-1/preview-wallpaper-v0.5-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.5/rev-1/preview-wallpaper-v0.5-rev1.1.png
  docs/branding.md
Labels: home

fix: add metadata descriptions for pages
  docs/getting-started/index.md
  docs/getting-started/install/before-continuing.md
  docs/getting-started/install/download-iso.md
  docs/getting-started/install/install-iso-injection.md
  docs/getting-started/install/install-playbook.md
  docs/getting-started/install/setting-up.md
  docs/getting-started/upgrade/upgrade-playbook.md
Labels: getting-started

fix: remove period for consistencies
  docs/getting-started/index.md
Labels: getting-started

fix: spelling issues and general inconcistencies
  docs/getting-started/index.md
  docs/getting-started/install/download-iso.md
  docs/getting-started/upgrade/before-continuing.md
  docs/getting-started/upgrade/upgrade-playbook.md
Labels: getting-started

fix: typo in mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

fix: typo in msdl.md
  includes/msdl.md
Labels: none

fix(deps): correct dependencies
  requirements.txt
Labels: none

fix(docs): correct windows 10 mentions
  docs/general-faq/windows-10-vs-11.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/software/screenshotting.md
  docs/install-faq/removed-features.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
Labels: getting-started

feat(var): update to 11 25h2
  mkdocs.yml
Labels: mkdocs-config

feat: faq, getting started
  docs/contributing/index.md
  docs/faq/ame.md
  docs/faq/general.md
  docs/faq/install.md
  docs/getting-started/install/before-continuing.md
  docs/index.md
  mkdocs.yml
  overrides/.icons/custom/ame.svg
Labels: mkdocs-config, getting-started, home

fix: broken links and icons
  docs/branding.md
  docs/contributing/documentation.md
  docs/contributing/playbook.md
  docs/contributing/testing/what-to-test.md
  docs/contributing/toolbox.md
  docs/faq/general.md
  docs/faq/index.md
  docs/faq/install.md
  docs/getting-started/index.md
  docs/getting-started/install/before-continuing.md
  docs/getting-started/install/download-iso.md
  docs/getting-started/install/install-iso-injection.md
  docs/getting-started/install/install-playbook.md
  docs/getting-started/install/setting-up.md
  docs/getting-started/upgrade/before-continuing.md
  docs/getting-started/upgrade/upgrade-playbook.md
  docs/index.md
  docs/post-install/atlas-folder/advanced-configuration.md
  docs/post-install/atlas-folder/configuration.md
  docs/post-install/atlas-folder/index.md
  docs/post-install/atlas-folder/optional-tweaks.md
  docs/post-install/atlas-folder/security.md
  docs/post-install/atlas-folder/windows-settings.md
  docs/post-install/index.md
  docs/post-install/toolbox/index.md
  mkdocs.yml
Labels: mkdocs-config, getting-started, home

change Kaspersky note for US users
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started
