Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

feat(troubleshooting): defender error page, ame errors section, corrections (#212)
  docs/assets/images/ame-defender-inaccessible.png
  docs/faq-and-troubleshooting/ame-wizard-errors/ame-wizard-deleted.md
  docs/faq-and-troubleshooting/ame-wizard-errors/atlas-playbook-stuck.md
  docs/faq-and-troubleshooting/ame-wizard-errors/build-not-supported.md
  docs/faq-and-troubleshooting/ame-wizard-errors/cant-disable-defender.md
  docs/faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
  docs/getting-started/installation.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

move recommended antiviruses to software
  docs/getting-started/post-installation/software/recommended-antiviruses.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

media pack page
  docs/assets/images/media-features-missing.png
  docs/faq-and-troubleshooting/common-questions/media-pack-not-found.md
  mkdocs.yml
Labels: mkdocs-config

remove image
  docs/assets/images/media-features-missing.png
  docs/faq-and-troubleshooting/common-questions/media-pack-not-found.md
Labels: none

fix: various improvements and additions
  docs/faq-and-troubleshooting/common-questions/fifa-and-eafc-not-launching.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  docs/getting-started/post-installation/software/anti-virus.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

Update roblox-not-opening.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

Update fifa-and-eafc-not-launching.md
  docs/faq-and-troubleshooting/common-questions/fifa-and-eafc-not-launching.md
Labels: none

Update roblox-not-opening.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

fix: FIFA page, move AV, rewrite Roblox (#213)
  docs/faq-and-troubleshooting/common-questions/fifa-and-eafc-not-launching.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  docs/getting-started/post-installation/software/anti-virus.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(antiviruses): add redirect
  mkdocs.insiders.yml
Labels: mkdocs-config

Revert "Merge branch 'master' into faq-1"
  mkdocs.insiders.yml
Labels: mkdocs-config

Reapply "Merge branch 'master' into faq-1"
  mkdocs.insiders.yml
Labels: mkdocs-config

fix(media pack): forward slashes
  mkdocs.yml
Labels: mkdocs-config

feat: media pack page
  docs/faq-and-troubleshooting/common-questions/media-pack-not-found.md
  docs/getting-started/post-installation/software/anti-virus.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(redirects): comments, fix atlas-playbook-stuck
  mkdocs.insiders.yml
Labels: mkdocs-config

feat(v0.5.0): remove media pack not found
  docs/faq-and-troubleshooting/common-questions/media-pack-not-found.md
  mkdocs.yml
Labels: mkdocs-config

fix(nav): old atlas folder scripts entry
  mkdocs.yml
Labels: mkdocs-config

fix(footer): add CC svg to docs
  docs/assets/creative-commons.svg
  mkdocs.yml
Labels: mkdocs-config

feat: replace header repo with Atlas Playbook
  mkdocs.yml
Labels: mkdocs-config

feat: new header git repo icon
  mkdocs.yml
Labels: mkdocs-config

contribute section, Playbook page, elaborate on PRs
  docs/assets/images/hyperv-manager.png
  docs/assets/images/vmware-workstation.png
  docs/contributing/contribution-guidelines.md
  docs/contributing/playbook.md
  docs/faq-and-troubleshooting/common-questions/testing-nightly-builds.md
  docs/index.md
  mkdocs.insiders.yml
  mkdocs.yml
  overrides/.icons/custom/atlas.svg
  overrides/.icons/custom/vmware-workstation.svg
Labels: mkdocs-config, home

feat(nav): discord bot friendly names
  mkdocs.yml
Labels: mkdocs-config

fix(playbook): add trusteduninstaller info, grammar
  docs/contributing/playbook.md
Labels: none

feat(playbook contributing): pause updates reg
  docs/assets/other/pause-updates.reg
  docs/contributing/playbook.md
Labels: none

feat(contributing): docs page
  .vscode/extensions.json
  docs/contributing/documentation.md
  mkdocs.yml
Labels: mkdocs-config

feat(playbook contributing): local-build.sh script
  docs/contributing/playbook.md
Labels: none

Update playbook.md
  docs/contributing/playbook.md
Labels: none

fix: properly bold VM comparison table
  docs/contributing/playbook.md
Labels: none

feat(playbook contributing): ARM ISO note
  docs/contributing/playbook.md
Labels: none

feat(vm snapshots): clarify no updates, download links
  docs/contributing/playbook.md
Labels: none

feat(header): replace repo with Atlas Playbook (#214)
  mkdocs.yml
Labels: mkdocs-config

feat(contributing): clarifications for non-Windows
  docs/contributing/contribution-guidelines.md
  docs/contributing/playbook.md
Labels: none

feat(contributing): dev category, testing pages
  docs/contributing/playbook.md
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  mkdocs.yml
Labels: mkdocs-config

fix: add different requirements files
  base-requirements.txt
  local-requirements.txt
  requirements.txt
Labels: none

fix(locally-host): check requirements each startup
  locally-host.cmd
Labels: none

feat: proper revert Atlas page
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(reverting atlas): clickable AI list item
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix(revert): proper link to github issues
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix: make kapa button click a global function
  docs/getting-started/reverting-atlas.md
  docs/javascript/init_kapa_widget.v2.js
  mkdocs.yml
Labels: mkdocs-config, getting-started

refactor(revert): unnecessary CSS
  docs/getting-started/reverting-atlas.md
Labels: getting-started
