Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

Added "fallback_to_default"
  mkdocs.insiders.yml
Labels: mkdocs-config

add pipfile to .gitignore
  .gitignore
Labels: github

feat: refactor microsoft store guide
  docs/assets/images/msstoreappx.png
  docs/assets/videos/wsreset.mp4
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
Labels: none

feat(ms store): general reformatting
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
Labels: none

style: stylise win + r
  docs/getting-started/installation.md
Labels: getting-started

fix(temp partition): how did this happen
  docs/getting-started/installation.md
Labels: getting-started

fix(partitions): @jacksyrm inconistencies
  docs/getting-started/installation.md
Labels: getting-started

[ImgBot] Optimize images
  docs/assets/images/msstoreappx.png
Labels: none

Half translated Contributions.md, added yml file
  docs/da/contributions.md
  docs/da/index.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

fix: lanman workstation
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

fix: :bug: Fix clarity for Lanman Workstation service
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

Update msdl.js
  docs/javascript/msdl.js
Labels: none

Update configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

feat: optimus for laptop users
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
Labels: getting-started

fix: forgot a space
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
Labels: getting-started

feat(branding): update brand guidelines link
  docs/branding.md
Labels: home

fix: Activation requirements for Atlas and some typo.
  docs/getting-started/installation.md
Labels: getting-started

docs: adding detail to post install activation page
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
Labels: getting-started

fix: Activation requirements in docs
  docs/getting-started/installation.md
Labels: getting-started

The wording was changed to be closer to the original
  overrides/main.html
Labels: none

feat: add Windows 10/11 information
  docs/getting-started/installation.md
Labels: getting-started

feat: add warning for igpu and dgpu together
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

feat(common-questions): :memo: Add GPT conversion guide
  docs/faq-and-troubleshooting/common-questions/gpt-disks.md
  mkdocs.yml
Labels: mkdocs-config

docs: small fix and remove outdated content from contributions.md
  docs/contributions.md
Labels: home

feat: switch to stable MkDocs
  requirements.txt
Labels: none

Revert "feat: switch to stable MkDocs"
  requirements.txt
Labels: none

refactor(install): more condense formatting
  docs/getting-started/installation.md
Labels: getting-started

feat(msdl): 11 23H2v2
  docs/getting-started/installation.md
Labels: getting-started

feat(install): rewrite ISO description
  docs/getting-started/installation.md
  includes/abbreviations.md
Labels: getting-started

docs: update CONTRIBUTING.md inforation to latest and remove outdated links
  .github/CONTRIBUTING.md
Labels: github

docs: small typo fix for README.md
  README.md
Labels: readme

fix(prerequisites): minor improvements
  docs/getting-started/installation.md
Labels: getting-started

fix(install): duplicate line
  docs/getting-started/installation.md
Labels: getting-started

fix(theme): general fixes
  docs/stylesheets/theme.css
Labels: none

refactor(theme): more rgb -> hsl
  docs/stylesheets/theme.css
Labels: none

fix(mkdocs): dark by default
  mkdocs.yml
Labels: mkdocs-config

fix(msdl): x64 -> 64-bit
  docs/getting-started/installation.md
Labels: getting-started

docs(faq): add recommended antiviruses
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
  mkdocs.yml
Labels: mkdocs-config

feat(antivirus): minor formatting improvements
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

feat: :sparkles: Many fixes, new ending for the installation page
  docs/getting-started/installation.md
  docs/getting-started/post-installation/drivers/amd.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/getting-started/post-installation/drivers/intel.md
  docs/getting-started/post-installation/drivers/nvidia.md
  docs/getting-started/post-installation/drivers/others.md
  mkdocs.yml
Labels: mkdocs-config, getting-started
