Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix: remove description error
  docs/contributing/documentation.md
Labels: none

Removed description error in contribution guidelines (#252)
  docs/contributing/documentation.md
Labels: none

Update image-viewer.md (#242)
  docs/getting-started/post-installation/software/image-viewer.md
Labels: getting-started

feat(guidelines): added toolbox contribution guidelines
  docs/contributing/toolbox.md
  mkdocs.yml
Labels: mkdocs-config

fix(toolbox guidelines): added clone notice
  docs/contributing/toolbox.md
Labels: none

chore: add myself to codeowners
  .github/CODEOWNERS
Labels: github

feat: added toolbox to main contribution guidelines page
  docs/contributing/contribution-guidelines.md
Labels: none

feat(guidelines): Toolbox contribution guidelines (#253)
  docs/contributing/contribution-guidelines.md
  docs/contributing/toolbox.md
  mkdocs.yml
Labels: mkdocs-config

temp: remove msdl (broken)
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

temp: remove msdl (broken) (#255)
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix: msdl fixed (thanks May)
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/javascript/msdl.v1.js
Labels: getting-started

fix: msdl fixed (#256)
  docs/javascript/msdl.v1.js
Labels: none

fix: msdl fixed (2)
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix: msdl fixed (2) (#257)
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

feat: add guide for verifying Windows ISO integrity
  docs/general-faq/verify-iso-integrity.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

chore: fix numerical order
  docs/general-faq/verify-iso-integrity.md
Labels: none

feat: add guide for verifying Windows ISO integrity (#258)
  docs/general-faq/verify-iso-integrity.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

feat: add FAQ entry on supported Windows versions for Atlas
  docs/general-faq/what-can-atlas-be-applied-on.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

chore: add quotes for consistency
  mkdocs.insiders.yml
Labels: mkdocs-config

fix: update Windows version support doc
  docs/install-faq/windows-version-support.md
Labels: none

chore: change back to list-status icon
  docs/install-faq/windows-version-support.md
Labels: none

fix: typo
  docs/install-faq/windows-version-support.md
Labels: none

feat: add Windows 10 vs 11 guidance for AtlasOS users
  docs/general-faq/windows-10-vs-11.md
Labels: none

fix: update title for AtlasOS security documentation
  docs/general-faq/atlas-and-security.md
Labels: none

feat: add guide for enabling TPM 2.0 for Windows 11 installation
  docs/general-faq/enabling-tpm.md
Labels: none

feat: add documentation for checking AtlasOS version with new images
  docs/assets/images/windows-settings-atlas-version.png
  docs/assets/images/winver-atlas-version.png
  docs/general-faq/checking-atlas-version.md
Labels: none

feat: add installation data loss FAQ for AtlasOS users
  docs/general-faq/installation-data-loss.md
Labels: none

feat: add FAQ on resetting AtlasOS and correct procedures
  docs/general-faq/resetting-atlas.md
Labels: none

feat: add FAQ on using Microsoft accounts with AtlasOS
  docs/general-faq/microsoft-account-usage.md
Labels: none

feat: add FAQ on upgrading Windows version with AtlasOS installed
  docs/general-faq/upgrading-windows-version.md
Labels: none

feat: add note to link to newly created page
  docs/getting-started/installation.md
Labels: getting-started

feat: update AtlasOS update guide with new information and clarity on version compatibility
  docs/general-faq/updating-atlas.md
Labels: none

feat: add new entries and organise layout
  mkdocs.yml
Labels: mkdocs-config

Update docs/getting-started/installation.md
  docs/getting-started/installation.md
Labels: getting-started

fix: typo
  docs/install-faq/windows-version-support.md
Labels: none

fix: update Windows version support doc (#260)
  docs/install-faq/windows-version-support.md
Labels: none

Update/Add Documentation Based on Common User Questions (#261)
  docs/assets/images/windows-settings-atlas-version.png
  docs/assets/images/winver-atlas-version.png
  docs/general-faq/atlas-and-security.md
  docs/general-faq/checking-atlas-version.md
  docs/general-faq/enabling-tpm.md
  docs/general-faq/installation-data-loss.md
  docs/general-faq/microsoft-account-usage.md
  docs/general-faq/resetting-atlas.md
  docs/general-faq/updating-atlas.md
  docs/general-faq/upgrading-windows-version.md
  docs/general-faq/windows-10-vs-11.md
  docs/getting-started/installation.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: update docs for new local acc method
  docs/getting-started/installation.md
Labels: getting-started

Update docs/getting-started/installation.md
  docs/getting-started/installation.md
Labels: getting-started

feat: update docs for new local acc method (#262)
  docs/getting-started/installation.md
Labels: getting-started

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
