Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

fix: :memo: capitalization issues
  docs/getting-started/post-installation/hardware/resizable-bar.md
Labels: getting-started

feat: :sparkles: update BIOS guide
  docs/getting-started/post-installation/hardware/updating-the-bios.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: :memo: USB stick size incorrect wording
  docs/getting-started/post-installation/hardware/updating-the-bios.md
Labels: getting-started

feat(bios): general improvements
  docs/getting-started/post-installation/hardware/updating-the-bios.md
Labels: getting-started

fix(css): cache bust
  docs/stylesheets/msdl.v2.css
  docs/stylesheets/theme.v2.css
  mkdocs.yml
Labels: mkdocs-config

fix: :memo: poor word choice
  docs/getting-started/post-installation/hardware/updating-the-bios.md
Labels: getting-started

fix: :fire: remove redundant sentence
  docs/getting-started/post-installation/hardware/updating-the-bios.md
Labels: getting-started

fix: :memo: one info-diagram
  docs/getting-started/post-installation/hardware/updating-the-bios.md
Labels: getting-started

feat: :sparkles: DOCP/XMP page + fixes
  docs/getting-started/post-installation/hardware/enabling-xmp-or-docp.md
  docs/getting-started/post-installation/hardware/resizable-bar.md
  docs/getting-started/post-installation/hardware/updating-the-bios.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: :sparkles: arrows
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

fix: :memo: Writing fixes
  docs/getting-started/installation.md
Labels: getting-started

fix(win build): redirect users to reinstall docs
  docs/assets/images/atlas-build-unsupported.webp
  docs/assets/images/winver-11.webp
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  mkdocs.yml
Labels: mkdocs-config

feat(atlas folder missing): more detail & corrections
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
Labels: none

feat(common questions): make headers questions
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
Labels: none

feat(virus detection): 'why' section & clarity
  docs/assets/images/atlas-build-unsupported.webp
  docs/faq-and-troubleshooting/common-questions/ame-wizard-virus-detection.md
Labels: none

fix: use Inter arrows everywhere
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  docs/index.md
Labels: home

docs: :boom: re-ordering of common question structure
  docs/faq-and-troubleshooting/common-questions/acrobat-compatibility.md
  docs/faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
  docs/faq-and-troubleshooting/common-questions/atlas-and-security.md
  docs/faq-and-troubleshooting/common-questions/atlas-folder-scripts.md
  docs/faq-and-troubleshooting/common-questions/build-not-supported.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store.md
  docs/faq-and-troubleshooting/common-questions/testing-nightly-builds.md
  docs/faq-and-troubleshooting/common-questions/updating-atlas.md
  mkdocs.yml
Labels: mkdocs-config

refactor: :fire: acrobat guide invalid
  docs/faq-and-troubleshooting/common-questions/acrobat-compatibility.md
  mkdocs.yml
Labels: mkdocs-config

feat: :construction: WIP installation
  docs/getting-started/installation.md
Labels: getting-started

fix(ame virus): code signing description
  docs/faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
Labels: none

feat(updating atlas): clarify which Windows Updates
  docs/faq-and-troubleshooting/common-questions/updating-atlas.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
Labels: none

feat(bitlocker): reformatting
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
Labels: getting-started

feat(install): general improvements
  docs/assets/videos/win11-OOBE-nointernet.mp4
  docs/getting-started/installation.md
Labels: getting-started

fix(bitlocker): clarity on % encrypted
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
Labels: none

fix(install): full stop list consistency
  docs/getting-started/installation.md
Labels: getting-started

fix(install): network device section
  docs/getting-started/installation.md
Labels: getting-started

fix(install): new win11 oobe written instructions
  docs/getting-started/installation.md
Labels: getting-started

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

fix: update to 2024
  mkdocs.yml
Labels: mkdocs-config

fix: make it CC in footer instead of copyright
  mkdocs.yml
Labels: mkdocs-config

Update intel.md
  docs/getting-started/post-installation/drivers/intel.md
Labels: getting-started

Fix typos
  docs/getting-started/installation.md
Labels: getting-started

refactor(network drivers): general improvements
  docs/getting-started/installation.md
Labels: getting-started

fix(intel): svg fix & minor improvements
  docs/getting-started/post-installation/drivers/intel.md
  overrides/.icons/custom/intel.svg
Labels: getting-started

fix: remove currentColor from svgs
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

feat(install): general clarity improvements
  docs/getting-started/installation.md
Labels: getting-started

feat(install): rewrite 'All Done' section for clarity
  docs/getting-started/installation.md
Labels: getting-started

refactor(build not supported): high res image
  docs/assets/images/atlas-build-unsupported.webp
Labels: none

fix: don't auto-close dependabot PRs
  .github/workflows/filter.yaml
Labels: actions

docs: add admonitions to advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
Labels: getting-started
