Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

feat(install faq): supported Windows versions & Home pages
  docs/getting-started/installation.md
  docs/install-faq/ame-wizard-errors/build-not-supported.md
  docs/install-faq/windows-editions.md
  docs/install-faq/windows-home.md
  docs/install-faq/windows-version-support.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(mkdocs): backslash nav path
  mkdocs.yml
Labels: mkdocs-config

feat(winver support): same package -> same download
  docs/install-faq/windows-version-support.md
Labels: none

fix(mkdocs): abbreviations
  includes/abbreviations.md
  mkdocs.yml
Labels: mkdocs-config

feat(install): rewrite, detailed steps for usb
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix: kapa widget
  docs/javascript/init_kapa_widget.v2.js
Labels: none

fix(usb keep data): admonition formatting
  docs/getting-started/installation.md
Labels: getting-started

fix(usb): do -> choose
  docs/getting-started/installation.md
Labels: getting-started

feat(winver support); seperator
  docs/install-faq/windows-version-support.md
Labels: none

feat(version support): insider note
  docs/install-faq/windows-version-support.md
Labels: none

fix(install): enough storage -> free storage
  docs/getting-started/installation.md
Labels: getting-started

fix(install): clarity
  docs/getting-started/installation.md
Labels: getting-started

fix(build not supported): single quotes
  docs/install-faq/ame-wizard-errors/build-not-supported.md
Labels: none

feat(install): further clarity improvements
  docs/getting-started/installation.md
Labels: getting-started

feat(install & revert): numbered headings
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix(folder missing): download link
  docs/general-faq/atlas-folder-missing.md
Labels: none

feat: variables, move msdl to macro
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  docs/javascript/misc.v1.js
  docs/javascript/misc.v2.js
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

Removed a space that broke command
  docs/install-faq/decrypting-using-bitlocker.md
Labels: none

Removed a space that broke command (#226)
  docs/install-faq/decrypting-using-bitlocker.md
Labels: none

fix(install): bitlocker clarity
  docs/getting-started/installation.md
Labels: getting-started

Revert "fix(folder missing): download link"
  docs/general-faq/atlas-folder-missing.md
Labels: none

feat(decrypting): link back to install guide
  docs/assets/images/bitlocker-error-decrypting.jpg
  docs/assets/images/bitlocker-error-setup.jpg
  docs/install-faq/decrypting-using-bitlocker.md
Labels: none

refactor(atlas folder): version var
  docs/general-faq/atlas-folder-missing.md
  includes/vars.md
Labels: none

feat: switch to mkdocs-macros
  base-requirements.txt
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

remove colon in macros
  mkdocs.yml
Labels: mkdocs-config

feat: cleanup macros
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

refactor(mkdocs): remove empty line
  mkdocs.yml
Labels: mkdocs-config

fix: add atlas version
  docs/general-faq/atlas-folder-missing.md
  mkdocs.yml
Labels: mkdocs-config

feat: switch to mkdocs-macros (#227)
  base-requirements.txt
  docs/general-faq/atlas-folder-missing.md
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: remove misc.js
  docs/getting-started/installation.md
  docs/javascript/misc.v2.js
  mkdocs.yml
Labels: mkdocs-config, getting-started

Revert "feat: switch to mkdocs-macros (#227)"
  base-requirements.txt
  docs/general-faq/atlas-folder-missing.md
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

Reapply "feat: switch to mkdocs-macros (#227)"
  base-requirements.txt
  docs/general-faq/atlas-folder-missing.md
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(reverting atlas): iso downloader
  docs/getting-started/installation.md
Labels: getting-started

test disabling jampack
  disabled/jampack.config.mjs
  disabled/package.json
  disabled/pnpm-lock.yaml
Labels: none

Revert "test disabling jampack"
  jampack.config.mjs
  package.json
  pnpm-lock.yaml
Labels: none

test disabling jampack v2
  package.json
Labels: none

fix(build): add macros
  .gitignore
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  includes/msdl.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: github, mkdocs-config, getting-started

feat(atlas folder): extract in context menu
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

Update interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

feat(atlas folder): extract in context menu (#228)
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started
