Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix: :memo: Re-write text editor page
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

fix: :pencil2: Fix typo
  docs/getting-started/post-installation/software/system-info.md
Labels: getting-started

feat: :sparkles: Add Kapa.ai
  overrides/partials/integrations/analytics/custom.html
Labels: none

fix: kapa not being exempt
  mkdocs.insiders.yml
Labels: mkdocs-config

feat: :sparkles: Add Kapa.ai
  mkdocs.insiders.yml
  overrides/partials/integrations/analytics/custom.html
Labels: mkdocs-config

feat: :sparkles: Add Kapa.ai
  docs/javascripts/init_kapa_widget.js
  mkdocs.yml
  overrides/partials/integrations/analytics/custom.html
Labels: mkdocs-config

feat: :bug: Fix folder
  docs/javascript/init_kapa_widget.js
  docs/javascript/msdl.js
Labels: none

fix: :lipstick: Fix color
  docs/javascript/init_kapa_widget.js
Labels: none

feat(msdl): update to 23H2
  docs/getting-started/installation.md
Labels: getting-started

style: :lipstick: New images!
  docs/assets/images/atlasdesktop-windows-folder.png
  docs/assets/images/bluetooth-script-folder.png
  docs/assets/images/printer-script-folder.png
Labels: none

feat(msdl.js): partial rewrite
  docs/javascripts/msdl.js
Labels: none

feat: add waterfox
  docs/getting-started/post-installation/software/web-browsers.md
  overrides/.icons/custom/librewolf.svg
  overrides/.icons/custom/waterfox.svg
Labels: getting-started

Fix bad link
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
Labels: getting-started

fix duck sleeping on jack keyboard
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
Labels: none

fix duck sleep on jack keyboard
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
Labels: none

fix: typo, language, and more
  docs/branding.md
  docs/contributions.md
  docs/faq-and-troubleshooting/common-questions/atlas-iso-files.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/removed-features.md
  docs/getting-started/installation.md
  docs/index.md
Labels: getting-started, home

Update removed-features.md
  docs/faq-and-troubleshooting/removed-features.md
Labels: none

fix: :pencil2: Typo + check for AME Wizard updates
  docs/getting-started/installation.md
Labels: getting-started

Fix: Move Wi-Fi To Advanced Configuration
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

Fix: Reorder FSO and Game Bar
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

feat: Add explorer patcher documentation
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
Labels: getting-started

fix: Add ARM support via Parallels
  docs/getting-started/installation.md
Labels: getting-started

fix(iTunes compatibility): correct driver version
  docs/assets/images/apple-driver-version.png
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
Labels: none

fix: general fixes & improvements
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/removed-features.md
  docs/getting-started/installation.md
Labels: getting-started

fix: :memo: Many fixes of grammar and clarity improvements
  docs/faq-and-troubleshooting/atlas-and-security.md
  docs/faq-and-troubleshooting/atlas-folder-scripts.md
  docs/faq-and-troubleshooting/common-questions/atlas-iso-files.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/faq-and-troubleshooting/removed-features.md
  docs/faq-and-troubleshooting/testing-nightly-builds.md
  docs/faq-and-troubleshooting/updating-atlas.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
Labels: getting-started

fix: :bug: Fix consistency with defaults
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
Labels: getting-started

fix(msdl): check for 32-bit & 64-bit
  docs/javascript/msdl.js
Labels: none

typo fix
  docs/getting-started/installation.md
Labels: getting-started

fix: :bug: Fix file name & add optional updates
  docs/getting-started/installation.md
Labels: getting-started

fix: typo
  docs/getting-started/installation.md
Labels: getting-started

fix: extra backtick in file name
  docs/getting-started/installation.md
Labels: getting-started

fix: temp remove alternative methods
  docs/getting-started/installation.md
Labels: getting-started

Update media-playback.md with more apps
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

Update media-playback.md
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

Feat: Build Not Supported - Troubleshooting
  docs/faq-and-troubleshooting/common-questions/build-not-supported.md
Labels: none

Fix: Wording in Unsupported Build FAQ
  docs/faq-and-troubleshooting/common-questions/build-not-supported.md
Labels: none

Update mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

feat: add page for windows build not supported
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  mkdocs.yml
Labels: mkdocs-config

Update build-not-supported.md
  docs/faq-and-troubleshooting/common-questions/build-not-supported.md
Labels: none

docs: rename
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
Labels: none

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
