Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix(v0.4.1): bluetooth, printers
  docs/assets/images/bluetooth-script-folder.webp
  docs/assets/images/printer-script-folder.webp
  docs/general-faq/acrobat-not-installing.md
  docs/general-faq/bluetooth-compatibility.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
Labels: getting-started

fix(interface): alt tab win 10 only
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

fix(nav); remove acrobat
  mkdocs.yml
Labels: mkdocs-config

fix: switch back to insiders
  requirements.txt
Labels: none

fix: rebuild
  requirements.txt
Labels: none

fix: new var name
  requirements.txt
Labels: none

refactor(requirements): add comment
  requirements.txt
Labels: none

Revert "refactor(requirements): add comment"
  requirements.txt
Labels: none

Reapply "refactor(requirements): add comment"
  requirements.txt
Labels: none

fix: new var name
  requirements.txt
Labels: none

Revert "refactor(requirements): add comment"
  requirements.txt
Labels: none

Reapply "refactor(requirements): add comment"
  requirements.txt
Labels: none

refactor(requirements): add comment
  requirements.txt
Labels: none

fix: switch back to insiders
  requirements.txt
Labels: none

fix: rebuild
  requirements.txt
Labels: none

fix(updating): clarify v0.4.1
  docs/general-faq/updating-atlas.md
Labels: none

fix(nvcleanstall): 24H2 note
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

feat(troubleshooting): repair windows components
  docs/getting-started/post-installation/atlas-folder/troubleshooting.md
Labels: getting-started

fix(CODEOWNERS): remove myself
  .github/CODEOWNERS
Labels: github

Fix typo
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

Fix typo (#241)
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

Update image-viewer.md
  docs/getting-started/post-installation/software/image-viewer.md
Labels: getting-started

refactor: update installation.md
  docs/getting-started/installation.md
Labels: getting-started

refactor(nvidia): remove 24H2 note
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

docs: add MSDL not working notification
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

docs: update installation instructions for ISO downloads and add placeholders for MSDL
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

docs: update installation instructions for ISO downloads and add placeholders for MSDL
  docs/getting-started/installation.md
Labels: getting-started

fix: fix msdl downloads!!!
  .gitignore
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/javascript/msdl.v1.js
Labels: github, getting-started

fix: add back license haha
  docs/javascript/msdl.v1.js
Labels: none

fix: msdl downloads
  .gitignore
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/javascript/msdl.v1.js
Labels: github, getting-started

refactor: update roblox-not-opening.md
  docs/general-faq/roblox-not-opening.md
Labels: none

Refactor: updated roblox-not-launching.md and mkdocs.yml
  docs/general-faq/roblox-not-launching.md
  mkdocs.yml
Labels: mkdocs-config

Fix: removed the warning and changed the description
  docs/general-faq/roblox-not-launching.md
Labels: none

fix: material for mkdocs name and add pipenv example
  docs/contributing/documentation.md
Labels: none

It's Material for MkDocs, not MkDocs Material (#249)
  docs/contributing/documentation.md
Labels: none

Update roblox-not-launching.md
  docs/general-faq/roblox-not-launching.md
Labels: none

Added a ".'
  docs/general-faq/roblox-not-launching.md
Labels: none

refactor: update nvidia.md to take new NvApp issue into consideration
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

Refactor: updated roblox-not-launching.md (#248)
  docs/general-faq/roblox-not-launching.md
  docs/general-faq/roblox-not-opening.md
  mkdocs.yml
Labels: mkdocs-config

feat: remove old content
  docs/general-faq/windows-update-errors.md
Labels: none

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
