Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

Update roblox-not-opening.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

Video changes
  docs/getting-started/installation.md
Labels: getting-started

Update
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

Fix typo
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

docs: refactor nvidia.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

update nvidia.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

(fix): Add Windows version icons to roblox page
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

docs: fix title and punctuation nvidia.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

reformatting (roblox)
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

docs: minor changes to installation.md
  docs/getting-started/installation.md
Labels: getting-started

feat(contributions): overhaul with PRs for changes
  docs/contributions.md
Labels: home

minor formatting mistakes
  docs/contributions.md
Labels: home

change description to be for the entire of Atlas
  docs/contributions.md
Labels: home

fix(contributions): formatting
  docs/contributions.md
Labels: home

fix: theme changes
  docs/stylesheets/theme.v3.css
  mkdocs.yml
Labels: mkdocs-config

feat: make favicon blue
  docs/assets/brand/icon.png
Labels: none

Formatting fixes to Roblox (#203)
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

fix(install): delocalise links
  docs/getting-started/installation.md
Labels: getting-started

feat(install): summary of the steps
  docs/getting-started/installation.md
Labels: getting-started

fix: bad temp fix for kapa css issue
  docs/stylesheets/kapa.v1.css
  mkdocs.yml
Labels: mkdocs-config

fix(kapa): more css
  docs/stylesheets/kapa.v1.css
Labels: none

fix: actual kapa fix 😱
  docs/javascript/init_kapa_widget.js
  docs/stylesheets/kapa.v1.css
  mkdocs.yml
Labels: mkdocs-config

feat(kapa): example questions, disclaimer
  docs/javascript/init_kapa_widget.js
Labels: none

feat: move CoC
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  README.md
Labels: readme, github

feat: rewritten README, contribution guide merged
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  .github/workflows/dev-branch-merge.yaml
  .github/workflows/filter.yaml
  .github/workflows/labeler.yaml
  README.md
  docs/contributions.md
Labels: readme, actions, github, home

fix: attempt to fix non-updated js
  docs/javascript/init_kapa_widget.v1.js
  docs/javascript/msdl.v1.js
  mkdocs.yml
Labels: mkdocs-config

feat: remove RDP warning, CODEOWNERS file
  .github/CODEOWNERS
  docs/getting-started/installation.md
Labels: github, getting-started

feat: branding page makeover
  docs/assets/brand/preview/avatars/preview-avatar-v1.png
  docs/assets/brand/preview/avatars/preview-avatar-v2.png
  docs/assets/brand/preview/banners/preview-banner-v1.png
  docs/assets/brand/preview/banners/preview-banner-v2.png
  docs/assets/brand/preview/banners/preview-banner-v3.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-clouds-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-ice-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-night-pride.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-night-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-setup.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-atlas-v0.3-rev2.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-atlas-v0.3-rev2.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.4.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-atlas-v0.4-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-atlas-v0.4-rev1.1.png
  docs/branding.md
Labels: home

remove: title bar of admonition for brand guidelines notice
  docs/branding.md
Labels: home

fix: invalid link, rev
  docs/branding.md
Labels: home

fix(branding): links
  docs/branding.md
Labels: home

feat: update troubleshooting, move to atlas config
  docs/faq-and-troubleshooting/common-questions/atlas-folder-scripts.md
  docs/getting-started/post-installation/atlas-folder/troubleshooting.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(troubleshooting): playbook stuck page
  docs/assets/images/reticulating-splines.webp
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
  mkdocs.yml
Labels: mkdocs-config

fix: don't skip to fixes
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
Labels: none

Update atlas-playbook-stuck.md
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
Labels: none

feat: update troubleshooting, move to atlas config (#209)
  docs/faq-and-troubleshooting/common-questions/atlas-folder-scripts.md
  docs/getting-started/post-installation/atlas-folder/troubleshooting.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(troubleshooting): playbook stuck page (#210)
  docs/assets/images/reticulating-splines.webp
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
  mkdocs.yml
Labels: mkdocs-config

fix(playbook stuck): more prerequisites
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
Labels: none

feat(troubleshooting): defender error page, ame errors section, corrections
  docs/assets/images/ame-defender-inaccessible.png
  docs/faq-and-troubleshooting/ame-wizard-errors/ame-wizard-deleted.md
  docs/faq-and-troubleshooting/ame-wizard-errors/atlas-playbook-stuck.md
  docs/faq-and-troubleshooting/ame-wizard-errors/build-not-supported.md
  docs/faq-and-troubleshooting/ame-wizard-errors/cant-disable-defender.md
  docs/faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
  docs/getting-started/installation.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

add redirects
  docs/faq-and-troubleshooting/ame-wizard-errors/build-not-supported.md
  docs/faq-and-troubleshooting/ame-wizard-errors/cant-disable-defender.md
  mkdocs.insiders.yml
Labels: mkdocs-config

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
