Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

feat(theme): customise social cards
  docs/stylesheets/theme.css
Labels: none

fix(drivers): square icons
  docs/getting-started/post-installation/drivers/amd.md
  docs/getting-started/post-installation/drivers/intel.md
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel-inside.svg
Labels: getting-started

fix(intel): replace intel inside logo
  docs/getting-started/post-installation/drivers/intel.md
  overrides/.icons/custom/intel-inside.svg
  overrides/.icons/custom/intel.svg
Labels: getting-started

fix: :zap: Fix Duck's bad SVGs
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

fix: :bug: Fix Jack's bad SVGs
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

fix: :bug: fix v2
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

fix: :bug: Fix v3
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

fix: scroll titlebar
  docs/stylesheets/theme.css
Labels: none

fix: mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

feat(theme): h font-weight
  docs/stylesheets/theme.css
Labels: none

docs(faq): add home vs pro
  docs/faq-and-troubleshooting/common-questions/home-vs-pro.md
Labels: none

fix(msdl): handling for incorrect lang response
  docs/javascript/msdl.js
  docs/stylesheets/msdl.css
Labels: none

feat(windows editions): general improvements
  docs/faq-and-troubleshooting/common-questions/home-vs-pro.md
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
  mkdocs.yml
Labels: mkdocs-config

feat(mkdocs): move nav to top
  mkdocs.yml
Labels: mkdocs-config

feat(faq): alt text & markdown for images
  docs/faq-and-troubleshooting/common-questions/adobe-acrobat.md
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/testing-nightly-builds.md
Labels: none

feat(security): improved description
  docs/faq-and-troubleshooting/atlas-and-security.md
Labels: none

feat(updating Atlas): rewrite
  docs/faq-and-troubleshooting/atlas-and-security.md
  docs/faq-and-troubleshooting/updating-atlas.md
Labels: none

feat(nightly): clarity improvements
  docs/assets/images/discord-development-role.png
  docs/faq-and-troubleshooting/testing-nightly-builds.md
Labels: none

feat(updating): clarity improvements
  docs/faq-and-troubleshooting/updating-atlas.md
Labels: none

feat(who atlas is for): more desription
  docs/faq-and-troubleshooting/updating-atlas.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/getting-started/installation.md
Labels: getting-started

[ImgBot] Optimize images
  docs/assets/images/discord-development-role.png
  overrides/.icons/custom/amd.svg
  overrides/.icons/custom/intel.svg
  overrides/.icons/custom/waterfox.svg
Labels: none

fix: small typo
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
Labels: none

feat(installation): rewrite sections & png -> webp
  docs/assets/images/apple-driver-version.png
  docs/assets/images/apple-driver-version.webp
  docs/assets/images/atlasdesktop-windows-folder.png
  docs/assets/images/atlasdesktop-windows-folder.webp
  docs/assets/images/bitlocker-decryption-progress.png
  docs/assets/images/bitlocker-decryption-progress.webp
  docs/assets/images/bluetooth-script-folder.png
  docs/assets/images/bluetooth-script-folder.webp
  docs/assets/images/device-manager-nic.png
  docs/assets/images/device-manager-nic.webp
  docs/assets/images/discord-development-role.png
  docs/assets/images/discord-development-role.webp
  docs/assets/images/msstoreappx.png
  docs/assets/images/msstoreappx.webp
  docs/assets/images/printer-script-folder.png
  docs/assets/images/printer-script-folder.webp
  docs/assets/images/win-setup-run-dialog.webp
  docs/assets/images/win-setup.webp
  docs/assets/images/winver-11.png
  docs/assets/images/winver-11.webp
  docs/faq-and-troubleshooting/common-questions/adobe-acrobat.md
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  docs/faq-and-troubleshooting/testing-nightly-builds.md
  docs/getting-started/installation.md
Labels: getting-started

fix: :memo: Grammar issues
  docs/getting-started/installation.md
Labels: getting-started

fix: :memo: Fix grammar and spelling issues
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

fix: :memo: Fix grammar issues
  docs/getting-started/post-installation/drivers/amd.md
Labels: getting-started

fix: :memo: Fix MANY grammar issues...
  docs/branding.md
  docs/contributions.md
  docs/faq-and-troubleshooting/atlas-and-security.md
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/atlas-iso-files.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
  docs/faq-and-troubleshooting/testing-nightly-builds.md
  docs/faq-and-troubleshooting/updating-atlas.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/configuration.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/getting-started/post-installation/drivers/amd.md
  docs/getting-started/post-installation/software/index.md
  docs/getting-started/post-installation/software/media-playback.md
  docs/getting-started/post-installation/software/system-info.md
  docs/getting-started/post-installation/software/web-browsers.md
Labels: getting-started, home

fix: :memo: Plural
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
Labels: none

fix: :memo: formatting
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
Labels: none

fix(social cards): add logo back
  docs/assets/brand/icon-white.svg
  mkdocs.insiders.yml
Labels: mkdocs-config

fix(install): clarify that Home is not supported
  docs/getting-started/installation.md
Labels: getting-started

feat: :sparkles: Chipset driver page
  docs/getting-started/post-installation/drivers/chipset.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: :sparkles: arrows to links on driver page
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

fix: :fire: restructuring & fixing capitalization/inconcistencies
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/getting-started/post-installation/software/getting-started.md
  docs/getting-started/post-installation/software/media-playback.md
  docs/getting-started/post-installation/software/screenshotting.md
  docs/getting-started/post-installation/software/system-info.md
  docs/getting-started/post-installation/software/text-editors.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: :sparkles: Resizable BAR page & new hardware folder
  docs/assets/images/gpu-z-resizable-bar.png
  docs/getting-started/installation.md
  docs/getting-started/post-installation/hardware/resizable-bar.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: :bug: consistency with capitalization
  mkdocs.yml
Labels: mkdocs-config

[ImgBot] Optimize images
  docs/assets/images/gpu-z-resizable-bar.png
Labels: none

feat: clean up CSS & no-js warnings
  docs/getting-started/installation.md
  docs/stylesheets/theme.css
Labels: getting-started

fix(install): win setup icon size with jampack
  docs/assets/images/win-setup.webp
  docs/faq-and-troubleshooting/testing-nightly-builds.md
  docs/getting-started/installation.md
  docs/stylesheets/theme.css
Labels: getting-started

fix(editions): improve clarity over what's supported
  docs/faq-and-troubleshooting/common-questions/windows-editions.md
Labels: none
