Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix(install): del mention of bypassing win 11
  docs/getting-started/installation.md
Labels: getting-started

fix(edge swipe): clarity
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

feat: Update MSDL API URL
  docs/javascript/msdl.js
Labels: none

add secure boot warning
  docs/getting-started/installation.md
Labels: getting-started

Update requirements.txt
  requirements.txt
Labels: none

refined
  .gitignore
  docs/getting-started/installation.md
Labels: github, getting-started

fix gitignore
  .gitignore
Labels: github

better organise a list
  docs/getting-started/installation.md
Labels: getting-started

fix a typo
  docs/getting-started/installation.md
Labels: getting-started

remove '(recommended for simplified setup in Windows 11)'
  docs/getting-started/installation.md
Labels: getting-started

remove redundant explanations
  docs/getting-started/installation.md
Labels: getting-started

fix typo
  docs/getting-started/installation.md
Labels: getting-started

use a more logical order
  docs/getting-started/installation.md
Labels: getting-started

add internet disconnection info to ventoy method
  docs/getting-started/installation.md
Labels: getting-started

feat(fso & game bar): notes for clarification
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

Add a new Windows reinstall method using Ventoy (#190)
  .gitignore
  docs/getting-started/installation.md
  includes/abbreviations.md
Labels: github, getting-started

feat(usb install): reformatting (#190)
  docs/getting-started/installation.md
Labels: getting-started

refactor(msdl.js): cleanup console
  docs/javascript/msdl.js
Labels: none

fix: attempted fix at restoring kapa
  docs/javascript/init_kapa_widget.js
Labels: none

fix: further attempts to restore kapa
  mkdocs.yml
Labels: mkdocs-config

fix: proper kapa attempt #1
  docs/javascript/init_kapa_widget.js
  mkdocs.yml
  overrides/partials/integrations/analytics/custom.html
Labels: mkdocs-config

fix: add instant prefetch
  mkdocs.yml
Labels: mkdocs-config

mrow
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

yippee!!!
  mkdocs.yml
Labels: mkdocs-config

mrow pspspspsps
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

mrow pspspspsps mrow
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

fix minor spelling mistake
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

fix: Reorder Roblox FAQ Listing
  mkdocs.yml
Labels: mkdocs-config

docs: reformat roblox-not-opening.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

docs: reformat roblox-not-opening.md and merge 'dev' into 'master'
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

merge 'master' into 'dev"
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

roblox page and misc fixes
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

revert atlas folder URL change
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
Labels: none

better 404 page
  overrides/404.html
Labels: none

fix ventoy guide and atlas update page
  docs/assets/images/mokmanager.png
  docs/assets/videos/enroll-key-vtoy.mp4
  docs/faq-and-troubleshooting/common-questions/updating-atlas.md
  docs/getting-started/installation.md
Labels: getting-started

rename ventoy error image
  docs/assets/images/vtoy-secure-error.png
  docs/getting-started/installation.md
Labels: getting-started

fix(404): minor formatting & no JS support
  overrides/404.html
Labels: none

feat: reformatting
  docs/getting-started/installation.md
Labels: getting-started

fix(install): ventoy guide and update page (#198)
  docs/assets/images/vtoy-secure-error.png
  docs/assets/videos/enroll-key-vtoy.mp4
  docs/faq-and-troubleshooting/common-questions/updating-atlas.md
  docs/getting-started/installation.md
Labels: getting-started

Update roblox-not-opening.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
Labels: none

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
