Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

feat(install): note about reinstalling Atlas
  docs/getting-started/installation.md
Labels: getting-started

fix(reverting atlas): forums -> gh discussions
  docs/getting-started/reverting-atlas.md
Labels: getting-started

feat(update errors): wushowhide, v0.4 update
  docs/general-faq/windows-update-errors.md
Labels: none

feat(security): rewrite
  docs/general-faq/atlas-and-security.md
Labels: none

feat(development): various clarity improvements
  docs/contributing/contribution-guidelines.md
  docs/contributing/documentation.md
  docs/contributing/playbook.md
  includes/abbreviations.md
  mkdocs.yml
Labels: mkdocs-config

feat(security): clarity
  docs/general-faq/atlas-and-security.md
Labels: none

feat: faq page for shortcuts as url files
  docs/assets/images/url-open-with.png
  docs/general-faq/game-url-files.md
  mkdocs.yml
Labels: mkdocs-config

fix: he3als's requests
  docs/assets/images/open-with-10.png
  docs/assets/images/url-open-with.png
  docs/general-faq/game-url-files.md
Labels: none

FAQ page for shortcuts showing up as .url files (#229)
  docs/assets/images/open-with-10.png
  docs/assets/images/url-open-with.png
  docs/general-faq/game-url-files.md
  mkdocs.yml
Labels: mkdocs-config

feat(install): update for new modal on website
  docs/getting-started/installation.md
Labels: getting-started

fix(install): modal step clarifications
  docs/getting-started/installation.md
Labels: getting-started

feat: many clarifications
  docs/contributing/playbook.md
  docs/general-faq/atlas-and-security.md
  docs/general-faq/windows-update-errors.md
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/install-faq/atlas-iso-files.md
  docs/install-faq/windows-version-support.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: rename branch to main for consistency
  docs/contributing/contribution-guidelines.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

add MusicBee
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

feat: add MusicBee (#230)
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

feat: add Dopamine 2 to media players
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

fix dopamine description
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

feat(media): add Dopamine 2 (#231)
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

fix: inconsistent microsoft store icons and feat: more apps
  docs/getting-started/post-installation/software/media-playback.md
  docs/getting-started/post-installation/software/screenshotting.md
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

feat: consistent MS icons & more apps (#232)
  docs/getting-started/post-installation/software/media-playback.md
  docs/getting-started/post-installation/software/screenshotting.md
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

feat(development): VM clarifications
  docs/contributing/documentation.md
  docs/contributing/playbook.md
Labels: none

feat(home): rewrite 'What is AtlasOS'
  docs/index.md
Labels: home

feat(home): rewrite what is atlas
  docs/index.md
Labels: home

feat(testing): clarifications
  docs/contributing/testing/what-to-test.md
Labels: none

fix(playbook): new script names
  docs/contributing/playbook.md
Labels: none

feat(install and FAQ) 24h2 support status. Hide alternative ISO method until 24h2 support.
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
Labels: getting-started

feat(install and FAQ) 24h2 support status.
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
Labels: getting-started

fix: temporarily switch back from insiders
  mkdocs.insiders.yml
  requirements.txt
Labels: mkdocs-config

feat(v0.4.5): update general config to match
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

feat(v0.4.5): update interface tweaks to match
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

feat(v0.4.5): update advanced config
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

fix(security): remove UAC
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

Revert "feat(install and FAQ) 24h2 support status."
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
Labels: getting-started

feat: update vars to 24H2 & v0.4.5
  mkdocs.yml
Labels: mkdocs-config

feat(updating-atlas): make a compatibility table
  docs/general-faq/media-pack-not-found.md
  docs/general-faq/updating-atlas.md
Labels: none

fix(updating-atlas): v0.4.5 clarification
  docs/general-faq/updating-atlas.md
Labels: none

fix(install): update for 24H2 setup
  docs/getting-started/installation.md
Labels: getting-started

fix(versioning): v0.4.1
  docs/general-faq/updating-atlas.md
  mkdocs.yml
Labels: mkdocs-config

fix(what to test): add user account note
  docs/contributing/testing/what-to-test.md
Labels: none

feat(v0.4.1): recall info
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started
