Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

fix(revert): remove editions step
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
Labels: getting-started

fix(revert): move to FAQ & Troubleshooting anyways
  mkdocs.yml
Labels: mkdocs-config

feat(revert): extra redirect
  mkdocs.insiders.yml
Labels: mkdocs-config

fix(revert): small grammar
  docs/getting-started/reverting-atlas.md
Labels: getting-started

feat(revert): clarify in intro
  docs/getting-started/reverting-atlas.md
Labels: getting-started

feat: Playbook & docs contribution guides (#215)
  .vscode/extensions.json
  docs/assets/images/hyperv-manager.png
  docs/assets/images/vmware-workstation.png
  docs/assets/other/pause-updates.reg
  docs/contributing/contribution-guidelines.md
  docs/contributing/documentation.md
  docs/contributing/playbook.md
  docs/faq-and-troubleshooting/common-questions/testing-nightly-builds.md
  docs/index.md
  mkdocs.insiders.yml
  mkdocs.yml
  overrides/.icons/custom/atlas.svg
  overrides/.icons/custom/vmware-workstation.svg
Labels: mkdocs-config, home

fix(reverting): formatting issue with Ask AI
  docs/getting-started/reverting-atlas.md
Labels: getting-started

feat(contributions): minor fixes
  docs/contributing/contribution-guidelines.md
  docs/contributing/documentation.md
Labels: none

remove old contributing home section
  mkdocs.yml
Labels: mkdocs-config

feat(contributing): development section, testing playbook pages (#218)
  docs/contributing/playbook.md
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  mkdocs.yml
Labels: mkdocs-config

feat: proper Atlas revert page (#217)
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/javascript/init_kapa_widget.v2.js
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: add back pillow & cairosvg
  requirements.txt
Labels: none

refactor: Twitter -> X
  mkdocs.yml
Labels: mkdocs-config

Update mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

change all the paths
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  docs/faq-and-troubleshooting/common-questions/acrobat-not-installing.md
  docs/general-faq/acrobat-not-installing.md
  docs/general-faq/atlas-and-security.md
  docs/general-faq/atlas-folder-missing.md
  docs/general-faq/atlas-folder-scripts.md
  docs/general-faq/atlas-iso-files.md
  docs/general-faq/bluetooth-compatibility.md
  docs/general-faq/decryptying-using-bitlocker.md
  docs/general-faq/fifa-and-eafc-not-launching.md
  docs/general-faq/itunes-compatibility.md
  docs/general-faq/media-pack-not-found.md
  docs/general-faq/microsoft-store.md
  docs/general-faq/roblox-not-opening.md
  docs/general-faq/testing-nightly-builds.md
  docs/general-faq/updating-atlas.md
  docs/general-faq/windows-editions.md
  docs/general-faq/windows-update-errors.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/index.md
  docs/install-faq/ame-wizard-errors/ame-wizard-deleted.md
  docs/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/install-faq/ame-wizard-errors/build-not-supported.md
  docs/install-faq/ame-wizard-errors/cant-disable-defender.md
  docs/install-faq/removed-features.md
  docs/install-faq/who-is-atlas-for.md
  mkdocs.yml
Labels: mkdocs-config, getting-started, home

redirects
  mkdocs.insiders.yml
Labels: mkdocs-config

fix: revert category name
  mkdocs.yml
Labels: mkdocs-config

move more to install FAQ, fix decryptying typo
  docs/getting-started/installation.md
  docs/install-faq/atlas-iso-files.md
  docs/install-faq/decrypting-using-bitlocker.md
  docs/install-faq/windows-editions.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: seperate 'FAQ & Troubleshoot' into 'Install' and 'General' FAQs (#219)
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  docs/faq-and-troubleshooting/common-questions/acrobat-not-installing.md
  docs/general-faq/acrobat-not-installing.md
  docs/general-faq/atlas-and-security.md
  docs/general-faq/atlas-folder-missing.md
  docs/general-faq/atlas-folder-scripts.md
  docs/general-faq/bluetooth-compatibility.md
  docs/general-faq/fifa-and-eafc-not-launching.md
  docs/general-faq/itunes-compatibility.md
  docs/general-faq/media-pack-not-found.md
  docs/general-faq/microsoft-store.md
  docs/general-faq/roblox-not-opening.md
  docs/general-faq/testing-nightly-builds.md
  docs/general-faq/updating-atlas.md
  docs/general-faq/windows-update-errors.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/index.md
  docs/install-faq/ame-wizard-errors/ame-wizard-deleted.md
  docs/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/install-faq/ame-wizard-errors/build-not-supported.md
  docs/install-faq/ame-wizard-errors/cant-disable-defender.md
  docs/install-faq/atlas-iso-files.md
  docs/install-faq/decrypting-using-bitlocker.md
  docs/install-faq/removed-features.md
  docs/install-faq/who-is-atlas-for.md
  docs/install-faq/windows-editions.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started, home

Fix merge
  docs/general-faq/atlas-folder-scripts.md
  docs/getting-started/post-installation/atlas-folder/troubleshooting.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: page for recommended image viewers
  docs/getting-started/post-installation/software/image-viewer.md
  docs/getting-started/post-installation/software/media-playback.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: typo
  docs/getting-started/post-installation/software/image-viewer.md
Labels: getting-started

fix: typo
  docs/getting-started/post-installation/software/image-viewer.md
Labels: getting-started

feat: page for recommended image viewers (#221)
  docs/getting-started/post-installation/software/image-viewer.md
  docs/getting-started/post-installation/software/media-playback.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: add virtulization warning to core isolation
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

feat: add virtulization warning to core isolation (#222)
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

readme: add contributors
  README.md
Labels: readme

feat(core isolation): formatting
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

feat(installation guide): Windows.old clarification
  docs/getting-started/installation.md
Labels: getting-started

feat(installation guide): Windows.old clarification (#223)
  docs/getting-started/installation.md
Labels: getting-started

refactor: make noJs thing global
  docs/getting-started/installation.md
  mkdocs.yml
  overrides/404.html
  overrides/main.html
Labels: mkdocs-config, getting-started

fix(noJs): add the .js
  docs/javascript/misc.v1.js
Labels: none

feat: add google translate widget
  overrides/partials/google-translate.html
  overrides/partials/header.html
Labels: none

fix: don't translate kapa.ai
  docs/javascript/init_kapa_widget.v3.js
  mkdocs.yml
Labels: mkdocs-config

fix: remove old noJs snippet
  overrides/main.html
Labels: none

feat(explorer customization): explain toggle app icons on thumbnails
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

feat: add credits
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

feat: add credits (#225)
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/drivers/nvidia.md
Labels: getting-started

refactor: forums -> github discussions
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/javascript/init_kapa_widget.v2.js
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(home): update 'What is AtlasOS?'
  docs/index.md
Labels: home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
