Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

Update reverting-atlas.md
  docs/faq/install-faq/reverting-atlas.md
Labels: none

rev: uninstall guide
  docs/faq/install-faq/reverting-atlas.md
Labels: none

fix; notes not rendering
  docs/faq/install-faq/reverting-atlas.md
Labels: none

fix: video not rendering
  docs/faq/install-faq/reverting-atlas.md
Labels: none

docs: correct info on windows-home.md
  docs/faq/install-faq/windows-home.md
Labels: none

fix: invalid mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

Fix formatting of prerequisites section in install guide
  docs/getting-started/install/install-playbook.md
Labels: getting-started

Update placeholder text in index.md
  docs/post-install/atlas-folder/index.md
Labels: none

Fix typo in Resizable BAR documentation
  docs/post-install/hardware/resizable-bar.md
Labels: none

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
