Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

feat(troubleshooting): win update error fixes
  docs/assets/images/win10-winre-update-error.png
  docs/faq-and-troubleshooting/common-questions/windows-update-errors.md
  docs/getting-started/installation.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(install): hyperlink to win update error
  docs/getting-started/installation.md
Labels: getting-started

fix(win update errors): general rewrites
  docs/faq-and-troubleshooting/common-questions/windows-update-errors.md
Labels: none

fix(install): remove bypass 11 requirements
  docs/getting-started/installation.md
Labels: getting-started

fix(reverting atlas): minor rewrite
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
Labels: none

feat(who is atlas for): rewrite
  docs/faq-and-troubleshooting/who-is-atlas-for.md
Labels: none

fix(updating Atlas): improve clarity
  docs/faq-and-troubleshooting/common-questions/updating-atlas.md
Labels: none

fix(who atlas is for): add seperator
  docs/faq-and-troubleshooting/who-is-atlas-for.md
Labels: none

fix: kaspersky realtime free no longer exists
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

fix: add windows defender
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

fix: indent
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

fix: defender description
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

fix: indentation pt. 2
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
Labels: none

Fixed issue with Films & TV
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

Added Photos
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

feat(configuration): entire rewrite + new folders/names
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

feat: Migrate to gravesoft
  docs/getting-started/installation.md
Labels: getting-started

feat: Update MSDL Credit
  docs/getting-started/installation.md
Labels: getting-started

feat: many more refactors for v0.4.0
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/what-atlas-changes.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/optional-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/getting-started/post-installation/drivers/others.md
  docs/index.md
  includes/abbreviations.md
  mkdocs.insiders.yml
  mkdocs.yml
  requirements.txt
Labels: mkdocs-config, getting-started, home

fix: small cleanups
  docs/faq-and-troubleshooting/what-atlas-changes.md
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/getting-started/post-installation/drivers/getting-started.md
Labels: getting-started

feat(advanced config): rewrite
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
Labels: getting-started

feat(security): rewrite
  docs/faq-and-troubleshooting/who-is-atlas-for.md
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

fix: disable social plugin (it broke)
  mkdocs.insiders.yml
Labels: mkdocs-config

feat(win settings): rewrite
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
Labels: getting-started

feat(branding): v0.4 wallpapers
  docs/assets/brand/wallpapers/16_9/v0.4/v1/preview/16_9-v0.4-v1-preview.png
  docs/assets/brand/wallpapers/16_9/v0.4/v2/preview/16_9-v0.4-v2-preview.png
  docs/branding.md
Labels: home

feat(web browsers): librewolf & firefox
  docs/getting-started/post-installation/software/web-browsers.md
  overrides/.icons/custom/librewolf.svg
Labels: getting-started

feat(media playback): rewrite for v0.4
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

feat(screenshotting): rewrite for v0.4
  docs/getting-started/post-installation/software/screenshotting.md
Labels: getting-started

feat(text editors); rewrite
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

[ImgBot] Optimize images
  docs/assets/brand/wallpapers/16_9/v0.4/v1/preview/16_9-v0.4-v1-preview.png
  docs/assets/brand/wallpapers/16_9/v0.4/v2/preview/16_9-v0.4-v2-preview.png
  docs/assets/images/win10-winre-update-error.png
Labels: none

feat(interface tweaks): edge swipe & recent items
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

fix(social): re-enable as issue should be fixed
  mkdocs.insiders.yml
Labels: mkdocs-config

feat(removed features): rewrite
  docs/faq-and-troubleshooting/removed-features.md
Labels: none

docs: adobe acrobat 1603
  docs/faq-and-troubleshooting/common-questions/acrobat-not-installing.md
  mkdocs.yml
Labels: mkdocs-config

build: remove python version pinning
  runtime.txt
Labels: none

fix(install): RDP warning
  docs/faq-and-troubleshooting/removed-features.md
  docs/getting-started/installation.md
Labels: getting-started

fix(security): note about ARM CPUs
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

fix(interface tweaks): ARM note
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
Labels: getting-started

fix: activation note updates
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
Labels: getting-started

feat(general config): sleepstudy, remove diagnostics
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
