Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

docs: Update mkdocs.yml nav
  mkdocs.yml
Labels: mkdocs-config

feat: winver-11.png
  docs/assets/images/winver-11.png
Labels: none

Update mkdocs.yml
  mkdocs.yml
Labels: mkdocs-config

feat: full reformatting
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  mkdocs.yml
Labels: mkdocs-config

fix(mkdocs.yml): avoid merge conflictss
  mkdocs.yml
Labels: mkdocs-config

feat: added icons and better boxes
  docs/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
Labels: none

[ImgBot] Optimize images
  docs/assets/images/winver-11.png
Labels: none

Fixed media linking issue
  docs/getting-started/post-installation/software/media-playback.md
Labels: getting-started

fix(msdl.js): rewrite to fix issues & cleanup code
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/getting-started/installation.md
  docs/javascript/msdl.js
  docs/stylesheets/msdl.css
Labels: getting-started

fix(msdl.js): validate shared session
  docs/javascript/msdl.js
Labels: none

fix(msdl.js): validate shared sessions at end
  docs/getting-started/installation.md
  docs/javascript/msdl.js
Labels: getting-started

fix(msdl): make buttons more responsive
  docs/getting-started/installation.md
  docs/stylesheets/msdl.css
Labels: getting-started

fix(msdl.js): finishing touches
  docs/javascript/msdl.js
  docs/stylesheets/msdl.css
Labels: none

Fix: Address BIOS/MBR issues
  docs/getting-started/installation.md
Labels: getting-started

Fix: Wording On Boot Mode section
  docs/getting-started/installation.md
Labels: getting-started

Fix: Add instructions for checking UEFI support
  docs/getting-started/installation.md
Labels: getting-started

Fix Error
  docs/getting-started/installation.md
Labels: getting-started

Update installation.md
  docs/getting-started/installation.md
Labels: getting-started

feat: beginning of i18n [skip ci]
  mkdocs.yml
Labels: mkdocs-config

feat: i18n not available after build
  mkdocs.insiders.yml
  package.json
  pnpm-lock.yaml
  requirements.txt
Labels: mkdocs-config

fix: missing dependency
  mkdocs.insiders.yml
  overrides/main.html
  requirements.txt
Labels: mkdocs-config

fix: missing optimize command
  package.json
Labels: none

feat: enable git-committers [skip ci]
  mkdocs.insiders.yml
Labels: mkdocs-config

feat: prepare for localization beta
  docs/en/localization.md
  mkdocs.insiders.yml
  mkdocs.yml
  overrides/main.html
Labels: mkdocs-config

docs: config examples
  docs/en/localization.md
Labels: none

fix: broken link to localization guide
  overrides/main.html
Labels: none

docs: clarifications
  docs/en/localization.md
Labels: none

Translate index.md to Danish
  docs/da/index.md
Labels: none

docs: clarifications of docs
  docs/en/localization.md
Labels: none

feat: translateable warning bar
  overrides/main.html
Labels: none

Fixed typo
  docs/branding.md
Labels: home

feat: vietnamese translation for warning
  overrides/main.html
Labels: none

docs: more clarifications
  docs/en/localization.md
Labels: none

docs: direct link to nav section
  docs/en/localization.md
Labels: none

docs: copy changes clarification
  docs/en/localization.md
Labels: none

fix: formatting error [skip ci]
  docs/en/localization.md
Labels: none

docs: clarify "nav_translations"
  docs/en/localization.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

Fixed typo (y -> t)
  docs/getting-started/post-installation/software/text-editors.md
Labels: getting-started

Initial Vietnamese translation (WIP)
  docs/vi/branding.md
  docs/vi/contributions.md
  docs/vi/faq-and-troubleshooting/atlas-and-security.md
  docs/vi/faq-and-troubleshooting/atlas-folder-scripts.md
  docs/vi/faq-and-troubleshooting/common-questions/adobe-acrobat.md
  docs/vi/faq-and-troubleshooting/common-questions/ame-wizard-virus-detection.md
  docs/vi/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/vi/faq-and-troubleshooting/common-questions/atlas-iso-files.md
  docs/vi/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/vi/faq-and-troubleshooting/common-questions/decryptying-using-bitlocker.md
  docs/vi/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/vi/faq-and-troubleshooting/common-questions/microsoft-store-compatibility.md
  docs/vi/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/vi/faq-and-troubleshooting/common-questions/windows-build-not-supported.md
  docs/vi/faq-and-troubleshooting/removed-features.md
  docs/vi/faq-and-troubleshooting/testing-nightly-builds.md
  docs/vi/faq-and-troubleshooting/updating-atlas.md
  docs/vi/faq-and-troubleshooting/who-is-atlas-for.md
  docs/vi/getting-started/installation.md
  docs/vi/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/vi/getting-started/post-installation/atlas-folder/configuration.md
  docs/vi/getting-started/post-installation/atlas-folder/optional-tweaks.md
  docs/vi/getting-started/post-installation/atlas-folder/security.md
  docs/vi/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/vi/getting-started/post-installation/drivers/getting-started.md
  docs/vi/getting-started/post-installation/drivers/gpu/amd.md
  docs/vi/getting-started/post-installation/drivers/gpu/intel.md
  docs/vi/getting-started/post-installation/drivers/gpu/nvidia.md
  docs/vi/getting-started/post-installation/drivers/others.md
  docs/vi/getting-started/post-installation/software/index.md
  docs/vi/getting-started/post-installation/software/media-playback.md
  docs/vi/getting-started/post-installation/software/screenshotting.md
  docs/vi/getting-started/post-installation/software/system-info.md
  docs/vi/getting-started/post-installation/software/text-editors.md
  docs/vi/getting-started/post-installation/software/web-browsers.md
  docs/vi/index.md
  docs/vi/localization.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config

fixed wording
  overrides/main.html
Labels: none

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
