Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*

fix: hyperlinks
  docs/contributing/index.md
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  docs/faq/post-install.md
  docs/getting-started/install/install-playbook.md
  docs/getting-started/install/setting-up.md
  docs/getting-started/upgrade/upgrade-playbook.md
  docs/index.md
  docs/post-install/atlas-folder/security.md
  docs/post-install/hardware/index.md
  docs/post-install/hardware/resizable-bar.md
  docs/post-install/index.md
  mkdocs.yml
  overrides/404.html
Labels: mkdocs-config, getting-started, home

docs: update requirements.txt for mkdocs material insiders
  requirements.txt
Labels: none

fix: small typos
  docs/getting-started/index.md
Labels: getting-started

fix: re-add Media Creation Tool and update the steps, formatting and typo fixes
  docs/getting-started/install/install-playbook.md
Labels: getting-started

feat: updated ISO injection page
  docs/getting-started/install/before-continuing.md
  docs/getting-started/install/install-iso-injection.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix: formatting and typos
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

Fix link to AME Wizard backend in security FAQ
  docs/general-faq/atlas-and-security.md
Labels: none

Fix typo in Kaspersky mention in anti-virus.md
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started

Update anti-virus.md with Kaspersky info
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started

change Kaspersky note for US users
  docs/getting-started/post-installation/software/anti-virus.md
Labels: getting-started

Fix link to AME Wizard backend in security FAQ
  docs/general-faq/atlas-and-security.md
Labels: none

feat: updated ISO injection docs
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

feat: updating AtlasOS page in FAQ
  docs/faq/general.md
  locally-host.cmd
Labels: none

fix: small typos
  docs/getting-started/index.md
Labels: getting-started

fix: re-add Media Creation Tool and update the steps, formatting and typo fixes
  docs/getting-started/install/install-playbook.md
Labels: getting-started

fix: broken links
  docs/faq/general-faq/atlas-and-security.md
  docs/faq/general-faq/atlas-folder-missing.md
  docs/faq/general-faq/bluetooth-compatibility.md
  docs/faq/general-faq/checking-atlas-version.md
  docs/faq/general-faq/enabling-tpm.md
  docs/faq/general-faq/game-url-files.md
  docs/faq/general-faq/installation-data-loss.md
  docs/faq/general-faq/itunes-compatibility.md
  docs/faq/general-faq/resetting-atlas.md
  docs/faq/general-faq/testing-nightly-builds.md
  docs/faq/general-faq/updating-atlas.md
  docs/faq/general-faq/upgrading-windows-version.md
  docs/faq/general-faq/windows-10-vs-11.md
  docs/faq/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/faq/install-faq/ame-wizard-errors/build-not-supported.md
  docs/faq/install-faq/ame-wizard-errors/cant-disable-defender.md
  docs/faq/install-faq/atlas-iso-files.md
  docs/faq/install-faq/decrypting-using-bitlocker.md
  docs/faq/install-faq/reverting-atlas.md
  docs/faq/install-faq/windows-home.md
  docs/faq/install-faq/windows-version-support.md
Labels: none

docs: fix docs wordings and links
  docs/post-install/software/anti-virus.md
  docs/post-install/software/screenshotting.md
  mkdocs.insiders.yml
  requirements.txt
Labels: mkdocs-config

fix: invalid links, changes to mkdocs.yml
  docs/faq/index.md
  mkdocs.yml
Labels: mkdocs-config

fix: all broken links in mkdocs-serve
  docs/faq/general-faq/bluetooth-compatibility.md
  docs/faq/general-faq/itunes-compatibility.md
  docs/faq/general-faq/microsoft-store.md
  docs/faq/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/faq/install-faq/ame-wizard-errors/build-not-supported.md
  docs/faq/install-faq/ame-wizard-errors/cant-disable-defender.md
  docs/faq/install-faq/atlas-iso-files.md
  docs/faq/install-faq/decrypting-using-bitlocker.md
  docs/faq/install-faq/windows-home.md
  docs/getting-started/install/install-playbook.md
  docs/getting-started/upgrade/before-continuing.md
  docs/getting-started/upgrade/upgrade-playbook.md
  docs/post-install/atlas-folder/advanced-configuration.md
  docs/post-install/atlas-folder/configuration.md
  docs/post-install/atlas-folder/optional-tweaks.md
  docs/post-install/atlas-folder/security.md
  docs/post-install/atlas-folder/windows-settings.md
  docs/post-install/drivers/index.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix; wrong link
  docs/contributing/testing/what-to-test.md
Labels: none

rm: windows 10 downloads from install guide
  docs/getting-started/install/install-playbook.md
Labels: getting-started

rm: windows 10 from install guide
  docs/getting-started/install/install-playbook.md
Labels: getting-started

fix: file paths
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

config: remove experimental from nav
  mkdocs.yml
Labels: mkdocs-config

feat: updated ISO injection page
  docs/getting-started/install/before-continuing.md
  docs/getting-started/install/install-iso-injection.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat: updated ISO injection docs
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

fix: formatting and typos
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

fix: file paths
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

config: remove experimental from nav
  mkdocs.yml
Labels: mkdocs-config

fix: invalid paths and missing section
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

refactor: add redirects for getting started and post install
  mkdocs.insiders.yml
Labels: mkdocs-config

docs: remove windows 10 mention in general-faq
  docs/faq/general-faq/windows-10-vs-11.md
Labels: none

docs: revised update-atlas.md
  docs/faq/general-faq/updating-atlas.md
Labels: none

docs: fix typo in updating-atlas.md
  docs/faq/general-faq/updating-atlas.md
Labels: none

docs: change icon to costom/atlas
  docs/faq/general-faq/updating-atlas.md
Labels: none

fix: warning not rendering
  docs/faq/general-faq/updating-atlas.md
Labels: none

fix: typo in install-playbook.md
  docs/getting-started/install/install-playbook.md
Labels: getting-started

fix: typo in iso injection
  docs/getting-started/install/install-iso-injection.md
Labels: getting-started

docs: modify atlas-iso-files.md
  docs/faq/install-faq/atlas-iso-files.md
Labels: none

fix: redirects, broken pages
  docs/faq/install-faq/reverting-atlas.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: mkdocs-config
