Repository Atlas-OS/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, actions, github, mkdocs-config, getting-started, troubleshooting, home

feat(adv config): move UWP & improve description
  docs/getting-started/post-installation/configuration/advanced-configuration.md
Labels: getting-started

fix(conf): remove UWP
  docs/getting-started/post-installation/configuration/index.md
Labels: getting-started

feat(security): emoji to current Core isolation features
  docs/getting-started/post-installation/security/index.md
Labels: getting-started

feat(software): web browsers page
  docs/getting-started/post-installation/software/web-browsers.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

fix(web-browsers): typo
  docs/getting-started/post-installation/software/web-browsers.md
Labels: getting-started

feat(security): FTH docs
  docs/getting-started/post-installation/security/index.md
Labels: getting-started

feat(web browsers): librewolf icon
  docs/getting-started/post-installation/software/web-browsers.md
  mkdocs.yml
  overrides/.icons/custom/librewolf.svg
Labels: mkdocs-config, getting-started

fix(extended-faq): clarify reinstalling stock
  docs/troubleshooting/extended-faq.md
Labels: troubleshooting

refactor: remove optimize plugin
  mkdocs.insiders.yml
  requirements.txt
Labels: mkdocs-config

Revert "refactor: remove optimize plugin"
  mkdocs.insiders.yml
  requirements.txt
Labels: mkdocs-config

refactor(optimize): delete optimize plugin
  mkdocs.insiders.yml
Labels: mkdocs-config

refactor(footer):
  mkdocs.yml
Labels: mkdocs-config

refactor: move & rephrase security notice
  docs/index.md
  overrides/main.html
Labels: home

refactor: replace website FAQ link with extended FAQ link
  docs/faq.md
  mkdocs.yml
Labels: mkdocs-config, home

refactor: title clarifications
  docs/getting-started/installation.md
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/drivers/index.md
  docs/getting-started/post-installation/security/index.md
  docs/getting-started/post-installation/software/index.md
  mkdocs.yml
Labels: mkdocs-config, getting-started

feat(optimize): optimize build via jampack
  .gitignore
  jampack.config.mjs
  package.json
  yarn.lock
Labels: github

refactor: specify node runtime version
  .node-version
Labels: none

refactor: home structure
  docs/branding.md
  docs/index.md
  mkdocs.yml
Labels: mkdocs-config, home

fix(home): remove security warning
  docs/index.md
Labels: home

feat(FAQ): update for v0.3.0
  docs/faq.md
Labels: home

feat(removed-features): update for v0.3.0
  docs/troubleshooting/removed-features.md
Labels: troubleshooting

feat(common-issues, installation): update for v0.3.0
  docs/getting-started/installation.md
  docs/troubleshooting/common-issues/auto-cleaner.md
  docs/troubleshooting/common-issues/hyper-v.md
  docs/troubleshooting/common-issues/mobile-hotspot.md
  docs/troubleshooting/common-issues/process-hacker.md
  docs/troubleshooting/common-issues/reticulating-splines.md
  mkdocs.yml
Labels: mkdocs-config, getting-started, troubleshooting

docs(brand): add 16:9 wallpapers
  docs/assets/brand/wallpapers/16_9/generic/Wallpapper 16_9 - Clouds Wordmark.png
  docs/assets/brand/wallpapers/16_9/generic/Wallpapper 16_9 - Ice Wordmark.png
  docs/assets/brand/wallpapers/16_9/generic/Wallpapper 16_9 - Night Pride.png
  docs/assets/brand/wallpapers/16_9/generic/Wallpapper 16_9 - Night Wordmark.png
  docs/assets/brand/wallpapers/16_9/generic/Wallpapper 16_9 - Setup.png
  docs/assets/brand/wallpapers/16_9/generic/preview/Wallpapper 16_9 - Clouds Wordmark-preview.png
  docs/assets/brand/wallpapers/16_9/generic/preview/Wallpapper 16_9 - Ice Wordmark-preview.png
  docs/assets/brand/wallpapers/16_9/generic/preview/Wallpapper 16_9 - Night Pride-preview.png
  docs/assets/brand/wallpapers/16_9/generic/preview/Wallpapper 16_9 - Night Wordmark-preview.png
  docs/assets/brand/wallpapers/16_9/generic/preview/Wallpapper 16_9 - Setup-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/Wallpapper 16_9 - v0.3 v2.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/Wallpapper 16_9 - v0.3 v3.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/Wallpapper 16_9 - v0.3.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/preview/Wallpapper 16_9 - v0.3 v2-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/preview/Wallpapper 16_9 - v0.3 v3-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v1/preview/Wallpapper 16_9 - v0.3-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v2/Wallpapper 16_9 - v0.3 v4.png
  docs/assets/brand/wallpapers/16_9/v0.3/v2/Wallpapper 16_9 - v0.3 v7.png
  docs/assets/brand/wallpapers/16_9/v0.3/v2/preview/Wallpapper 16_9 - v0.3 v4-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v2/preview/Wallpapper 16_9 - v0.3 v7-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/Wallpapper 16_9 - v0.3 v8.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/Wallpapper 16_9 - v0.3 v9.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/preview/Wallpapper 16_9 - v0.3 v5-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/preview/Wallpapper 16_9 - v0.3 v6-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/preview/Wallpapper 16_9 - v0.3 v8-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v3/preview/Wallpapper 16_9 - v0.3 v9-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v10-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v11-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v12-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v13-preview.png
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v14-preview.png
  docs/branding.md
Labels: home

fix: bad wallpaper resolution
  docs/assets/brand/wallpapers/16_9/v0.3/v4/preview/Wallpapper 16_9 - v0.3 v14-preview.png
Labels: none

refactor: upload all generic wallpapers
  docs/assets/brand/wallpapers/16_10/generic/Wallpapper 16_10 - Clouds Wordmark.png
  docs/assets/brand/wallpapers/16_10/generic/Wallpapper 16_10 - Ice Wordmark.png
  docs/assets/brand/wallpapers/16_10/generic/Wallpapper 16_10 - Night Pride.png
  docs/assets/brand/wallpapers/16_10/generic/Wallpapper 16_10 - Night Wordmark.png
  docs/assets/brand/wallpapers/16_10/generic/Wallpapper 16_10 - Setup.png
  docs/assets/brand/wallpapers/21_9/generic/Wallpapper 21_9 - Clouds Wordmark.png
  docs/assets/brand/wallpapers/21_9/generic/Wallpapper 21_9 - Ice Wordmark.png
  docs/assets/brand/wallpapers/21_9/generic/Wallpapper 21_9 - Night Pride.png
  docs/assets/brand/wallpapers/21_9/generic/Wallpapper 21_9 - Night Wordmark.png
  docs/assets/brand/wallpapers/4_3/generic/Wallpapper 4_3 - Clouds Wordmark.png
  docs/assets/brand/wallpapers/4_3/generic/Wallpapper 4_3 - Ice Wordmark.png
  docs/assets/brand/wallpapers/4_3/generic/Wallpapper 4_3 - Night Pride.png
  docs/assets/brand/wallpapers/4_3/generic/Wallpapper 4_3 - Night Wordmark.png
  docs/assets/brand/wallpapers/4_3/generic/Wallpapper 4_3 - Setup.png
Labels: none

fix: invalid brand guidelines link
  docs/branding.md
Labels: home

refactor(cdn): use jsdelivr for branding download links
  docs/branding.md
Labels: home

docs: update raw links to jsdelivr
  docs/branding.md
Labels: home

Update atlas-folder-missing.md
  docs/troubleshooting/common-issues/atlas-folder-missing.md
Labels: troubleshooting

refactor(adobe): delete CC error 191
  docs/troubleshooting/common-issues/adobe/creative-cloud-error-191.md
  mkdocs.yml
Labels: mkdocs-config, troubleshooting

feat(software): choco -> winget
  docs/getting-started/post-installation/software/index.md
Labels: getting-started

feat: update GPT and MBR check vid
  docs/assets/videos/check-gpt-mbr.mp4
Labels: none

feat: init v0.3.0 installation docs
  docs/assets/videos/check-gpt-mbr.mp4
  docs/assets/videos/win11-OOBE-nointernet.mp4
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started

Update windows-settings.md
  docs/getting-started/post-installation/configuration/windows-settings.md
Labels: getting-started

fix(install): remove UUPDump
  docs/getting-started/installation.md
Labels: getting-started

feat(installation): win 11 requirements bypass
  docs/getting-started/installation.md
Labels: getting-started

feat(installation): move OOBE to its own header
  docs/getting-started/installation.md
Labels: getting-started

Update atlas-folder-missing.md
  docs/troubleshooting/common-issues/atlas-folder-missing.md
Labels: troubleshooting

Update windows-settings.md
  docs/getting-started/post-installation/configuration/windows-settings.md
Labels: getting-started

feat(faq): warning about driver not loading
  docs/faq.md
Labels: home

.github/labeler.yml:

readme:
- '**/README.md'

actions:
- .github/workflows/**/*
- .github/labeler.yml

github: 
- .github/*
- .git*

mkdocs-config:
- mkdocs.insiders.yml
- mkdocs.yml

getting-started:
- docs/getting-started/**/*

troubleshooting:
- docs/troubleshooting/**/*

home:
- docs/*
