Repository Atlas-OS/docs, pull requests merged in 2023-12, with the labels that each got.

#158 Notifications disabled by default instead of enabled
  docs/getting-started/post-installation/atlas-folder/configuration.md
Labels: getting-started

#163 docs(faq): add recommended antiviruses
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
  mkdocs.yml
Labels: mkdocs-config

#164 antiviruses page, other fixes for installation & grammar
  docs/faq-and-troubleshooting/common-questions/recommended-antiviruses.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/drivers/amd.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/getting-started/post-installation/drivers/intel.md
  docs/getting-started/post-installation/drivers/nvidia.md
  docs/getting-started/post-installation/drivers/others.md
  mkdocs.yml
Labels: getting-started, mkdocs-config, bypass
