Repository Atlas-OS/docs, pull requests merged in 2023-05, with the labels that each got.

#75 Analytics and SEO update
  .github/CONTRIBUTING.md
  README.md
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/post-installation/configuration/advanced-configuration.md
  docs/getting-started/post-installation/configuration/index.md
  docs/getting-started/post-installation/configuration/optional-tweaks.md
  docs/getting-started/post-installation/configuration/windows-settings.md
  docs/getting-started/post-installation/drivers/gpu/amd.md
  docs/getting-started/post-installation/drivers/gpu/intel.md
  docs/getting-started/post-installation/drivers/gpu/nvidia.md
  docs/getting-started/post-installation/drivers/index.md
  docs/getting-started/post-installation/index.md
  docs/getting-started/post-installation/software/index.md
  docs/index.md
  docs/troubleshooting/common-issues/adobe/acrobat-fails-to-install.md
  docs/troubleshooting/common-issues/adobe/creative-cloud-error-191.md
  docs/troubleshooting/common-issues/atlas-folder-missing.md
  docs/troubleshooting/common-issues/csgo-vac-no-session-verified.md
  docs/troubleshooting/common-issues/hyper-v.md
  docs/troubleshooting/common-issues/mobile-hotspot.md
  docs/troubleshooting/common-issues/process-hacker.md
  docs/troubleshooting/common-issues/reticulating-splines.md
  docs/troubleshooting/removed-features.md
  docs/troubleshooting/scripts.md
  mkdocs.insiders.yml
  mkdocs.yml
  overrides/partials/integrations/analytics/custom.html
  requirements.txt
Labels: enhancement

#86 refactor: refactor the 'no-usb' documentation MD file
  docs/assets/images/iwwu.png
  docs/assets/videos/adding-partition.gif
  docs/assets/videos/resize.gif
  docs/getting-started/other-installation-methods/no-usb.md
Labels: getting-started

#89 New installation guide
  docs/getting-started/installation.md
  docs/getting-started/other-installation-methods/no-usb.md
  docs/getting-started/other-installation-methods/usb.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: getting-started, mkdocs-config

#91 fix(social): work on social cards
  mkdocs.insiders.yml
  mkdocs.yml
  requirements.txt
Labels: mkdocs-config

#93 fix: urgent fix for USB docs codeblocks
  docs/getting-started/other-installation-methods/usb.md
Labels: getting-started, bypass
