Repository Atlas-OS/docs, pull requests merged in 2024-07, with the labels that each got.

#214 feat(header): replace repo with Atlas Playbook
  mkdocs.yml
Labels: mkdocs-config

#215 feat: Playbook & docs contribution guides
  .vscode/extensions.json
  docs/assets/images/hyperv-manager.png
  docs/assets/images/vmware-workstation.png
  docs/assets/other/pause-updates.reg
  docs/contributing/contribution-guidelines.md
  docs/contributing/documentation.md
  docs/contributing/playbook.md
  docs/faq-and-troubleshooting/common-questions/testing-nightly-builds.md
  docs/index.md
  mkdocs.insiders.yml
  mkdocs.yml
  overrides/.icons/custom/atlas.svg
  overrides/.icons/custom/vmware-workstation.svg
Labels: home, mkdocs-config

#218 feat(contributing): development section, testing playbook pages
  docs/contributing/playbook.md
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  mkdocs.yml
Labels: mkdocs-config

#217 feat: proper Atlas revert page
  docs/faq-and-troubleshooting/common-questions/reverting-atlas.md
  docs/getting-started/installation.md
  docs/getting-started/reverting-atlas.md
  docs/javascript/init_kapa_widget.v2.js
  mkdocs.insiders.yml
  mkdocs.yml
Labels: getting-started, mkdocs-config

#219 feat: seperate 'FAQ & Troubleshoot' into 'Install' and 'General' FAQs
  docs/contributing/testing/reporting-issues.md
  docs/contributing/testing/what-to-test.md
  docs/faq-and-troubleshooting/common-questions/acrobat-not-installing.md
  docs/general-faq/acrobat-not-installing.md
  docs/general-faq/atlas-and-security.md
  docs/general-faq/atlas-folder-missing.md
  docs/general-faq/atlas-folder-scripts.md
  docs/general-faq/bluetooth-compatibility.md
  docs/general-faq/fifa-and-eafc-not-launching.md
  docs/general-faq/itunes-compatibility.md
  docs/general-faq/media-pack-not-found.md
  docs/general-faq/microsoft-store.md
  docs/general-faq/roblox-not-opening.md
  docs/general-faq/testing-nightly-builds.md
  docs/general-faq/updating-atlas.md
  docs/general-faq/windows-update-errors.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/advanced-configuration.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/atlas-folder/windows-settings.md
  docs/getting-started/post-installation/drivers/getting-started.md
  docs/index.md
  docs/install-faq/ame-wizard-errors/ame-wizard-deleted.md
  docs/install-faq/ame-wizard-errors/atlas-playbook-stuck.md
  docs/install-faq/ame-wizard-errors/build-not-supported.md
  docs/install-faq/ame-wizard-errors/cant-disable-defender.md
  docs/install-faq/atlas-iso-files.md
  docs/install-faq/decrypting-using-bitlocker.md
  docs/install-faq/removed-features.md
  docs/install-faq/who-is-atlas-for.md
  docs/install-faq/windows-editions.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: getting-started, home, mkdocs-config

#221 feat: page for recommended image viewers
  docs/getting-started/post-installation/software/image-viewer.md
  docs/getting-started/post-installation/software/media-playback.md
  mkdocs.yml
Labels: getting-started, mkdocs-config

#222 feat: add virtulization warning to core isolation
  docs/getting-started/post-installation/atlas-folder/security.md
Labels: getting-started

#223 feat(installation guide): Windows.old clarification
  docs/getting-started/installation.md
Labels: getting-started

#224 feat(explorer customization): explain toggle app icons on thumbnails
  README.md
  docs/getting-started/installation.md
  docs/getting-started/post-installation/atlas-folder/interface-tweaks.md
  docs/getting-started/post-installation/atlas-folder/security.md
  docs/getting-started/post-installation/software/image-viewer.md
  docs/getting-started/post-installation/software/media-playback.md
  docs/javascript/misc.v1.js
  mkdocs.yml
  overrides/404.html
Labels: getting-started

#227 feat: switch to mkdocs-macros
  base-requirements.txt
  docs/general-faq/atlas-folder-missing.md
  docs/getting-started/installation.md
  docs/install-faq/windows-version-support.md
  includes/msdl.md
  includes/vars.md
  mkdocs.yml
Labels: getting-started, mkdocs-config
