Repository Atlas-OS/docs, pull requests merged in 2024-06, with the labels that each got.

#205 feat(contributions): overhaul with PRs for changes
  docs/contributions.md
Labels: home

#208 improved branding page
  docs/assets/brand/preview/avatars/preview-avatar-v1.png
  docs/assets/brand/preview/avatars/preview-avatar-v2.png
  docs/assets/brand/preview/banners/preview-banner-v1.png
  docs/assets/brand/preview/banners/preview-banner-v2.png
  docs/assets/brand/preview/banners/preview-banner-v3.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-clouds-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-ice-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-night-pride.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-night-wordmark.png
  docs/assets/brand/preview/wallpapers/generic/preview-wallpaper-setup.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-1/preview-wallpaper-atlas-v0.3-rev1.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-atlas-v0.3-rev2.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-2/preview-wallpaper-atlas-v0.3-rev2.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-3/preview-wallpaper-atlas-v0.3-rev3.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.0.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.1.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.2.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.3.png
  docs/assets/brand/preview/wallpapers/v0.3/rev-4/preview-wallpaper-atlas-v0.3-rev4.4.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-atlas-v0.4-rev1.0.png
  docs/assets/brand/preview/wallpapers/v0.4/rev-1/preview-wallpaper-atlas-v0.4-rev1.1.png
  docs/branding.md
Labels: home

#209 feat: update troubleshooting, move to atlas config
  docs/faq-and-troubleshooting/common-questions/atlas-folder-scripts.md
  docs/getting-started/post-installation/atlas-folder/troubleshooting.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: getting-started, mkdocs-config

#210 feat(troubleshooting): playbook stuck page
  docs/assets/images/reticulating-splines.webp
  docs/faq-and-troubleshooting/common-questions/atlas-playbook-stuck.md
  mkdocs.yml
Labels: mkdocs-config

#212 feat(troubleshooting): defender error page, ame errors section, corrections
  docs/assets/images/ame-defender-inaccessible.png
  docs/faq-and-troubleshooting/ame-wizard-errors/ame-wizard-deleted.md
  docs/faq-and-troubleshooting/ame-wizard-errors/atlas-playbook-stuck.md
  docs/faq-and-troubleshooting/ame-wizard-errors/build-not-supported.md
  docs/faq-and-troubleshooting/ame-wizard-errors/cant-disable-defender.md
  docs/faq-and-troubleshooting/common-questions/ame-wizard-deleted.md
  docs/getting-started/installation.md
  mkdocs.insiders.yml
  mkdocs.yml
Labels: getting-started, mkdocs-config

#213 fix: FIFA page, move AV, rewrite Roblox
  docs/faq-and-troubleshooting/common-questions/fifa-and-eafc-not-launching.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  docs/getting-started/post-installation/software/anti-virus.md
  mkdocs.yml
Labels: getting-started, mkdocs-config
