Repository Atlas-OS/docs, pull requests merged in 2024-04, with the labels that each got.

#189 Merge Master to Dev
  docs/javascript/msdl.js
  pnpm-lock.yaml
Labels: bypass

#194 Add "/roblox" command to FAQ
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  mkdocs.yml
Labels: mkdocs-config

#195 Misc URL fixes and fix the Roblox page
  docs/faq-and-troubleshooting/common-questions/atlas-folder-missing.md
  docs/faq-and-troubleshooting/common-questions/bluetooth-compatibility.md
  docs/faq-and-troubleshooting/common-questions/itunes-compatibility.md
  docs/faq-and-troubleshooting/common-questions/roblox-not-opening.md
  docs/getting-started/post-installation/atlas-folder/general-configuration.md
Labels: getting-started
